[2015-09-22 18:57] digitarald opened #1 "Recipe: Test-driven ServiceWorker development"
How to do automated tests with and without network.

[2015-09-22 20:20] digitarald opened #2 "Recipe: Load list of cachable files from JSON file"
*aka "Poor Man's AppCache"*

https://jakearchibald.com/2014/offline-cookbook/#comment-2189777576

https://github.com/mozilla/oghliner/issues/10

[2015-09-22 20:34] digitarald opened #3 "Push to gh-pages on commit"
Example doing it with travis: https://github.com/jakearchibald/isserviceworkerready/blob/master/.travis.yml#L5

[2015-09-22 23:14] digitarald opened #4 "Push to heroku on commit to host dynamic scripts (changing content, timeouts)"
To simulate various use cases a server part is probably needed:

- Serve content without cache headers
- Image file that gets re-generated for every request
- Updating inbox.json with continues mock update feed

Travis can publish for us: http://docs.travis-ci.com/user/deployment/heroku/

[2015-10-09 16:08] digitarald commented on #3
Somehow this doesn't work, but with dynamic script creation that we need for some examples that should be redundant now.

[2015-10-09 16:08] #3 closed

[2015-10-09 16:08] digitarald commented on #4
Travis is doing that for us.

[2015-10-09 16:53] digitarald opened #5 "Recipe: Offline status in frontend"
Per @wfwalker and his project https://github.com/wfwalker/mc-choir/ , it would be great to have an indication when the project is cached/*offlined* (`Dear user, you can now safely cut the cable!`). This is probably a mix of `claim` and listening to `controllerchange` in the frontend.

[2015-10-15 17:28] digitarald opened #9 "Recipe: Cache CSS and fonts"
1. Serve stale files for CSS and fonts on load
2. Fetch new version into cache (on install or on fetch?)
  - Fonts probably didn't update but just CSS, should the service worker only invalidate changed files?
3. Refresh CSS in client when updates are available

Similar to https://github.com/phamann/embrace-the-network/tree/master/src/stale-while-revalidate

[2015-10-15 18:27] digitarald opened #10 "Blog: Offline-first Recipes for service workers"
Caching and offline-first recipes for cooking with Service Workers.

- [x] Define recipes to feature

@darkwing author?
- [x] Yes?

[2015-10-15 18:32] digitarald opened #11 "Blog: Web Push updates to the masses"
Bring delicious updates to your users with these recipes for cooking with Web Push.

- [x] Recipes to feature: r? @marco-c
  - [x] Simple Notification (#42)
  - [x] Payload (#43)
  - [x] Rich notifications (#54)
  - [x] Subscription management for multiple channels (#44)
  - [x] Quota (#47)
  - [x] Clients management (#46)
  - [x] Replace existing notification using a tag (#65)

[2015-10-15 18:33] digitarald opened #12 "Recipes for not-just-offline use cases"
Please file one issue per recipe

[2015-10-15 18:33] digitarald commented on #4
Done on heroku now

[2015-10-15 18:33] #4 closed

[2015-10-15 18:38] digitarald opened #13 "Blog: At your service for more than just appcache"
More than ~~words~~ *appcache*!  Thinking beyond offline when cooking with Service Workers.

Recipes to be defined by @lodr

[2015-10-16 20:34] franciov opened #14 "Bug: Docco does not generate documentation if a recipe contains a folder"
It seems that docco, the tool for generating documentation when running `gulp build-docs`, does not work properly if a recipe contains a folder: the js files after the folder, in a lexical order, are not processed.

I had to remove the folder in my recipe to make it work: https://github.com/mozilla/serviceworker-cookbook/commit/db6567d83ea9d78fa9e7abfd76880cb4db301e78

[code]

[2015-10-19 17:52] digitarald commented on #14
Not sure if we need to fix this. Having flat recipes seems a much more accessible and force you to simplify.

[2015-10-19 21:50] dbialer opened #15 "Proposed recipe: caching data and resources separately"
Have multiple offline serviceworkers (a router) to handle different types of offline usage
One for resources - code w/assets.  For instance, may not update frequently.
One for data - possibly a page like a schedule that gets updated more frequently.  Possibly this should be something that is pushed (a message gets pushed to the app, it receive it and knows it needs to update a page silently).

[2015-10-20 00:00] TimAbraldes opened #16 "[cache-then-network] For first minute or so of being disconnected, network requests still appear to succeed"
Reported by @wfwalker via the #apps IRC channel.

This occurs in Chrome and Firefox.

Some extra logging shows that the responses are status 200 even though there is no network connection present.

[2015-10-20 15:20] lodr commented on #1
@digitarald can you explain this a little bit more, please?

[2015-10-20 15:23] delapuente opened #17 "Recipe: service worker as dependency injector for modern frameworks"
Modern frameworks could use service workers to enable dependency injection, substituting dependencies by mocks in testing environments or providing the proper components upon request.

I.e:
[code]

[2015-10-20 15:34] delapuente opened #18 "Recipe: virtual server"
A client API could be implemented as a virtual API using [ServiceWorkerWare](https://github.com/gaia-components/serviceworkerware/) (a-la Express framework). The new [NGA Music application already do it](https://github.com/mozilla-b2g/gaia/tree/master/apps/music/js/services) although their authors express their [concerns about suitability of service workers](https://groups.google.com/d/msg/mozilla

[2015-10-20 15:49] delapuente opened #19 "Recipe: request echoer"
When loosing network connection, requests to the server can be cached keeping the order answering with place-holders responses. Later, when regaining connectivity, the service worker can replicate the server session .

[2015-10-20 16:03] delapuente opened #20 "Recipe: render store"
Borrowed from [NGA](https://wiki.mozilla.org/Gaia/Architecture_Proposal#Render_store), render store is an offline cache for already combined template and data enabling [super-fast rendering time](http://unoyunodiez.com/2015/09/07/modern-mobile-web-development-breaking-the-rules-beating-delays-improving-responsiveness-and-performance-ii/).

[2015-10-20 16:05] lodr opened #21 "Reciper: agnostic caching"
Explain how to cache resources, even from other domains with the use of `no-cors` mode and clarify the limitations of this technique.

[2015-10-20 16:09] delapuente opened #22 "Recipe: API analytics"
Perform API usage logging without interfering with the UI layer by adding a service worker to gather the usage and use the `sync` API to upload gathered data from time to time.

[2015-10-20 16:18] delapuente opened #23 "Recipe: download a zip and cache its contents"
With the use of 3rd party libraries such as [zip.js](https://gildas-lormeau.github.io/zip.js/), the Service Worker can use other workers to decompress a zip in the client and use it as source for caching off-line content. For instance, [downloading GitHub provided zip for a branch](http://stackoverflow.com/questions/13636559/how-to-download-zip-from-github-for-a-particular-commit-sha#answer-136369

[2015-10-20 16:29] wfwalker commented on #23
could this be a way to "install" Firefox OS packaged apps, at least unprivileged ones?

[2015-10-20 18:19] digitarald commented on #9
Taking a shot at the caching strategy here …

*CSS assets* = CSS and media referenced from CSS with low rate of updates (fonts, icons and spritesheets)

- Cold cache
  1. SW is installed
  2. CSS assets added to cache in `onfetch`
- Warm cache
  1. CSS assets served from cache via `onfetch`
  2. Check if a an update request is needed, could be
    - JSON file that references files and *hashes*/*la

[2015-10-20 19:13] TimAbraldes commented on #16
Filed a bugzilla bug at https://bugzilla.mozilla.org/show_bug.cgi?id=1216373

It turns out that the caching options for the Fetch API are not yet implemented in Firefox or Chrome so we need to use a cache busting url param.

[2015-10-20 21:09] darkwing opened #25 "Document technical specs of running app"
I installed a few different versions of Node.js before finding a version that supported `String.prototype.startsWith`.  Having a tech spec doc would be helpful for working within this repo.

[2015-10-20 21:59] digitarald commented on #25
I am just spoiled by babel adding polyfills ;) . We should remove node 4 dependencies to make it more accessible.

[2015-10-20 22:00] digitarald opened #26 "Make build process work with older node versions."
@darkwing stumbled over `String::startsWith` in #25 and there might be other references.

[2015-10-20 23:15] #16 closed

[2015-10-21 17:28] delapuente commented on #9
I was thinking about this. I agree on cold-cache strategy. Assuming [Request](https://fetch.spec.whatwg.org/#requests) is completely implemented, we can check `type` and `destination` along with `content-type` to identify fonts and CSS.

Fir the first version, the warm cache strategy @digitarald is suggesting coudl work but the problem I see is that an update in a CSS file could imply an update in

[2015-10-21 21:59] TimAbraldes opened #27 "[cache-then-network] Don't bust cache if not necessary"
Feature detect whether cache options are available in the Fetch API by checking whether `Request.prototype.cache` exists.

If it exists, we pass 'no-cache' as the cache option so we shouldn't need to use a cache-busting URL param

[2015-10-22 16:16] digitarald commented on #9
Request is complete aside from `cache`. Checking content-type would a good way to determine CSS

CSS updates are less critical though and the flash-of-mismatching-css/html should be only a short one as the `sw` should trigger an update within a few hundred ms after page load. Does that make sense?

[2015-10-22 16:19] darkwing commented on #5
I'd like to have a go at this, if that's cool.

[2015-10-22 17:36] delapuente commented on #9
Yes, it should be short and ultimately, the SW don't cause the reload, it just notifies the client and it's the client which is in charge of reloading the page. What we should put in the recipe is how to reload CSS only (without realoading the entire HTML) by adding a bumping query-parameter that the service worker ignores when looking for the new CSS.

Deciding when to update is more complicated.

[2015-10-22 19:36] darkwing commented on #5
A few questions I've encountered as I've started this:

[ ] - Do you envision this using two service workers -- one for static assets for layout and then another for other media?

[ ] - Can we detect assets included within the HTML document itself, including `<img>`, `<link>`, via service worker?

[ ] - How does `controllerchange` factor into this?

[2015-10-22 21:13] delapuente commented on #23
For unattended solutions, we could process the application to add an install UI registering a service worker to do this or decompress the application, serve it statically in a FQDN and provide some kind of `_install.html` UI to allow registering the SW in charge of download the zip. Does it make sense, @wfwalker ?

[2015-10-22 22:45] digitarald commented on #23
throwing in my ideas to see if I understood correctly:

- each app would run on its own domain
- opening `/index.html` would install the sw, which fetches the zip and puts its content into cache. When the sw activates, the client refreshes the page
- further requests to `/index.html` are served from the package content.

[2015-10-23 02:49] digitarald commented on #5
1. You can only have one active service worker
2. The assets are defined [within the service worker](https://github.com/wfwalker/mc-choir/blob/gh-pages/offline-worker.js#L30). The sw will only `activate` when all assets are cached
3. To get `controllerchange` the sw needs to claim the page, which by default only happens on refresh but which can be forced by calling `.claim()` (see [auto-claim](htt

[2015-10-23 11:47] delapuente commented on #23
But to not interfere with the application structure, we could redirect to `_install.html` first. Then register the SW and install all the staff and finally leave some kind of mark (webstorage, cookie or whatever) to detect the application is installed next time and redirect to the `launch_path` specified in the manifest. We could even make the SW to answer with a permanent redirection to `launch_p

[2015-10-23 17:43] darkwing commented on #5
1.  Good to know
2.  Right, though they can be added as we go along with:

[code]

Right?

3.  So I'm confused as to the scope of this recipe.  Are we enhancing Bill's app, moving it over or...?  At face value this recipe seems incredibly simple but you've mentioned `controllerchange` and `claim()` so now I think I need more insight as to what's desired.

[2015-10-27 13:26] delapuente opened #29 "Recipe: safeguard script to allow manipulate the web app in difficult situations"
From time to time, playing with SW and offline caches you end with a cached version of a bugged script controlling a critical part of your application. Designing the SW to always fetch a safeguard url and loading this script at the beginning of your web application prevent these kind of situation by allowing you to further control the application.

[2015-10-27 13:30] delapuente commented on #29
After an update, offliner nevers activate the new version unless the client instruct it to do it. I was debugging why integration was not working and I realized I was not activating the new version in the client code but as this code was cached it never gets updated. With this kind of safeguard / backdoor script I could be able to inject an activation instruction. This is something I'm including i

[2015-10-27 16:12] delapuente opened #30 "Provide annotated sources for recipes"
Using docco we could extract an eye-catcher documentation in addition to the sources on GitHub.

[2015-10-27 16:12] delapuente commented on #30
@darkwing @digitarald what do you think?

[2015-10-27 16:32] digitarald commented on #30
Agreed and done :) https://serviceworker-cookbook.herokuapp.com/docs/auto-claim/service-worker.html

[2015-10-27 16:33] dbialer opened #31 "Add descriptions of recipes along with use case"
What is the recipe?  Who is it for?  What problem does it solve?
It would be good to document and describe these on the home page?

[2015-10-27 16:35] digitarald commented on #31
Yes, agreed. We need to describe best practices and requirements and check them against each recipe.

[2015-10-27 16:54] digitarald opened #32 "Recipe: Cache no-cors response"
Idea for example use case: Audio from external server that doesn't have HTTPS.

That should show a reduced version of what https://github.com/mozilla/high-fidelity/ needs for @zalun, right @delapuente ?

[2015-10-27 16:57] delapuente commented on #32
I'm afraid I missunderstood mixed-content with access policy. Let's review the SW spec and think a little bit more about it.

[2015-10-27 21:23] delapuente opened #33 "Link ServiceWorker API related usages in the generated docco with MDN"
Provide some way to link the API usages in the annotated source to the help provided by the MDN.

[2015-10-27 22:50] digitarald commented on #33
We could just use markdown links to add links to the docs or are you thinking of something else?

[2015-10-27 22:51] digitarald commented on #30
Closing if nothing else is covered by this. We definitely need to add more docs to some recipes, part of best practices.

[2015-10-29 07:45] delapuente commented on #33
I was thinking of autodetecting those usages in the code section and add `<a>` tags automatically.

[2015-10-29 13:09] zalun commented on #30
The link s broken - Cannot GET /docs/auto-claim/service-worker.html

[2015-10-29 16:10] darkwing commented on #30
https://serviceworker-cookbook.herokuapp.com/docs/immediate-claim/service-worker.html

[2015-10-29 16:24] darkwing commented on #31
Good point @dbialer .  Maybe we add tags as well, like "claim", "offline", "performance", etc.

[2015-10-29 20:37] darkwing commented on #26
Please assign to me as I have a PR in

[2015-10-29 20:39] darkwing commented on #5
This is set for PR review

[2015-10-29 21:28] digitarald commented on #11
@zalun wanted to take a look at the recipes. Should we file a bug per recipe?

[2015-10-30 14:58] darkwing commented on #22
Excuse my ignorance but what `sync` API are you referring to?

[2015-10-30 18:20] darkwing commented on #1
What @delapuente said -- I don't know how this would work or what test tooling would be needed.

[2015-10-30 18:30] digitarald commented on #22
@darkwing https://slightlyoff.github.io/BackgroundSync/spec/

[2015-10-30 19:22] #2 closed

[2015-10-30 19:22] #5 closed

[2015-10-30 19:25] digitarald commented on #10
@darkwing @brendandahl - should we collect a best of from the prior art resources and make them recipe-ready with more documentation?

[2015-10-30 19:33] darkwing commented on #10
What are "prior art resources"?

[2015-10-30 19:34] digitarald commented on #10
https://github.com/mozilla/serviceworker-cookbook#similar-projects--prior-art

[2015-11-01 17:46] delapuente commented on #32
Well, this is what I discovered about mixed content by reading [specs](https://w3c.github.io/webappsec-mixed-content/) again. There is a concept about a passthrough request. A [passthrough](https://w3c.github.io/webappsec-mixed-content/#passthrough-request) request is a request originated by a fetch inside a service worker using a request originated in a client window. Something like:

[code]
Acco

[2015-11-01 22:51] delapuente commented on #14
But what if you try to hide some details, for instance, in the #23 recipe about caching the contents from a ZIP file, I want to hide the `zip.js` library under the `lib` directory. I really think we should agree on some patterns for recipes but I think we should fix this as well. I'm providing a PR to solve it.

[2015-11-01 23:05] delapuente commented on #21
This is very similar to #32 and the demo that @zalun covers this topic as well.

[2015-11-02 11:06] marco-c commented on #32
I did something similar to cache images from trakt.tv (that were served without CORS headers): https://github.com/marco-c/watchy/blob/234b97ef06cfd6fd5a6e2620746840683bad6244/app/controllers/series-new.js#L116

[2015-11-02 11:42] delapuente commented on #30
I'm closing this as the functionality is added but we need better support from the `index.html` page. Let's file different issues for this.

[2015-11-02 11:42] #30 closed

[2015-11-02 11:52] delapuente commented on #32
I see. Anyway, `no-cors` is the default option for mode but I think it's good to make it explicit.

[2015-11-02 11:57] delapuente commented on #22
I'm going to implement this without sync API and update once we have this API available.

[2015-11-02 12:01] delapuente commented on #12
Now there are some non related recipes with offline cases such as #23, #22, #17, #18 or #19

[2015-11-02 12:01] #12 closed

[2015-11-02 16:50] #14 closed

[2015-11-02 20:08] delapuente commented on #32
Well, checked with Ben Kelly. This is a well known bug. It is related to issue whatwg/fetch#70 and [bug 1183625](https://bugzilla.mozilla.org/show_bug.cgi?id=1183625) and you can find very similar concerns about [our problems with high-fidelity](https://aerotwist.com/blog/cors-for-concern/). Summarizing, the problem is we can not warn the user about mixed content if we don't have UX to show the wa

[2015-11-04 00:01] mykmelez commented on #29
Perhaps I don't understand the feature or its intention well enough, but it seems dangerous for *offliner* not to activate an updated service worker by default on reload (or navigate). Partly that's because of the problem you've identified here, but mostly it's because "activate on reload" is fundamental to the service worker update model. All the resources I've read about the update model describ

[2015-11-04 00:07] marco-c commented on #13
Duplicate of #12?

[2015-11-04 00:14] #26 closed

[2015-11-04 07:21] delapuente commented on #29
I see your point @mykmelez but we are not talking about the same concept of activation. My bad for not introducing some context.

The worker gets activated on reload, of course. Actually because it uses _skip & claim_. What is not activated in the sense of the app lifecycle is the new version. Upon an update (and this is not a SW update but the strategy plugged inside offliner) _offliner_ download

[2015-11-04 07:24] delapuente commented on #13
I think so. Reopen if not.

[2015-11-04 10:32] marco-c commented on #31
We could add a short description in the main README and add a detailed README for each recipe.

[2015-11-04 10:33] marco-c opened #42 "Recipe: Simple push notification (without payload)"

[2015-11-04 10:33] marco-c opened #43 "Recipe: Push notification with payload"

[2015-11-04 10:35] marco-c commented on #43
This will only work in Firefox for now, Chrome is still working on it: https://code.google.com/p/chromium/issues/detail?id=486040#c25

[2015-11-04 10:36] marco-c opened #44 "Recipe: Push notifications with subscription management"

[2015-11-04 10:38] marco-c commented on #11
Filed #42, #43 and #44 for now.

What do you mean by "rich notifications"? Notifications with icons, images, etc.?

[2015-11-04 11:05] marco-c opened #46 "Recipe: Push notification with clients management"
The purpose of this recipe would be to show how to handle a click on a notification and how to manage the clients of the service worker (e.g. focusing or opening a new tab when the notification is clicked).

[2015-11-04 12:03] marco-c opened #47 "Recipe: Push notification with quota management"

[2015-11-04 12:12] marco-c commented on #44
To show subscription management, we could have:
- a client that subscribes/unsubscribes and periodically checks if the subscription is up to date (listening to the pushsubscriptionchange event).
- a server that keeps track of the subscriptions and periodically sends notifications to the registered users.

[2015-11-04 12:15] marco-c commented on #42
We should showcase both immediate notifications (with TTL=0) and long-lived ones (with TTL > 0).

[2015-11-04 13:54] marco-c commented on #11
I've also filed #46, which aims to show `clients.openWindow` and `focus`.

[2015-11-04 17:47] digitarald commented on #13
This would also cover the blog post. Any takers on writing about the offline use cases?

[2015-11-04 17:50] delapuente commented on #13
Oh, perfect. I'm taking this bug. Could you give me access to Moz Hacks?

[2015-11-04 19:43] mykmelez commented on #29
It does, thanks for the context! The piece I guess I'm still missing is *why* the *offliner* implementation doesn't start using the new cache by default when the updated service worker is activated.

I understand that there can be some value to making this configurable, such that a client should be able to activate the updated service worker without starting to use the new cache (although I would

[2015-11-04 20:20] delapuente commented on #29
I think it is better to combine the discussion with mozilla/wadi#14 in order to not introduce noise in the recipe.

[2015-11-04 22:47] digitarald commented on #13
:tada: @delapuente! I checked with the hacks team: step 1 is draft (gdocs works great as it has comments and revisions). step 2 is scheduling a publishing date.

[2015-11-05 04:49] #42 closed

[2015-11-05 13:44] marco-c opened #51 "Show curl command to send a notification in the push-simple recipe"
This would help developers to understand the communication between the application server and the push service.

[2015-11-05 22:20] mykmelez commented on #29
Ok, although I actually think the conversation belongs in this thread. The point I'm trying to make is that service workers (and libraries that help you to implement service workers, like *offliner*) should not be designed with footguns that you have to protect yourself against with foot armor like this recipe.

Rather than write recipes that show people how to arm their feet, I would write recipe

[2015-11-06 04:33] #43 closed

[2015-11-06 04:53] digitarald commented on #22
Would it make sense to polyfill the background sync? I guess though a service worker has no idea when its woken up or dies, so it would be hard to control.

[2015-11-06 11:04] delapuente opened #53 "Add a meta data to recipes"
While thinking recipes for the cookbook, I realize we need to add some descriptions to make them more usable. For instance the recipes should have a difficulty, dependencies (i.e. _see first_ recipes) and some tags to allow dynamic search and related.

To not blur or add complexity to the recipes, my proposal is to include this kind of information in the README.md and stablish

[2015-11-06 11:17] delapuente commented on #53
Here is an example of how a RECIPE.md could look. See raw to see the source:

[2015-11-06 13:30] marco-c opened #54 "Recipe: Rich push notification"

[2015-11-06 14:44] marco-c commented on #1
I think @digitarald meant a recipe that shows how to test an app that uses service workers (testing that it works with or without network connectivity.

[2015-11-06 15:44] delapuente commented on #22
I think the recipe is useful as it is, when we have sync API ready we can provide another recipe with that or a version two of this one or even a _mixture_ between both of them.

[2015-11-06 16:15] delapuente commented on #29
You're right but service workers in addition to offline caches have the intrinsic problem they could cache content you don't intended to cache. What we can do is to encourage good practices like the one in this recipe. If the developer get used to implement this recipe, he always could add a piece of JS (even in production environments) to solve the potential mess.

This recipe is not intended to

[2015-11-06 17:13] digitarald commented on #47
Some best practices to demo:

Push server post quota:
- Back of when server rejects messages

Client quota:
- Always show a notification so quota gets reset
- Track how many notifications got received, shown or  clicked

[2015-11-06 17:47] kitcambridge commented on #47
Hi! So, once [bug 1210211](https://bugzilla.mozilla.org/show_bug.cgi?id=1210211) lands, the quota will work like this: when a service worker receives a background push message, we'll start a timer for 3 seconds. Once the timer fires, we'll check if there are any visible notifications for the origin. If so, we won't reduce the quota.

One possible demo could encourage the user to close the page, th

[2015-11-06 21:03] #22 closed

[2015-11-06 22:03] darkwing commented on #25
Going to close this as we've not seen other problems here.

[2015-11-06 22:03] #25 closed

[2015-11-09 17:54] #54 closed

[2015-11-09 17:54] #46 closed

[2015-11-09 22:45] brendandahl opened #57 "Use book styles for listing recipies."
Notes from talking with Harald:

Make cookbook index look more like gitbook, where the side bar has:

- intro - links to all the recipes and short summary taken from the first paragraph of the readme
- for each recipe:
  - intro - readme
  - demo - example in iframe
  - annotated src links

[2015-11-10 18:11] mykmelez commented on #29
I'm not the technical lead for this project, so I won't make that decision. But I do think it would be more valuable to create a recipe that shows how to design a service worker that doesn't run the risk of caching something that prevents the developer from updating a part of their app (whether in a development or production environment).

[2015-11-10 18:16] mykmelez commented on #29
On the other hand, Flipkart apparently [found a feature like this useful](http://tech-blog.flipkart.net/2015/11/progressive-web-app/): "One such significant challenge that emerged from our use of Service Workers was to build a “kill switch”. It is easy to end up with bugs in Service Workers and stale responses. Having a reliable mechanism to purge all caches has helped us to be proactively ready f

[2015-11-10 19:37] digitarald commented on #53
@brendandahl is looking at a unified view for recipes and o including YAML front matter

[2015-11-10 22:08] digitarald commented on #29
To get to some code that we can iterate on, maybe we should just call the recipe kill-switch and solve the simplified cache-nuking use case.

Would that solve your user story from comment 2, @delapuente?

[2015-11-10 23:03] digitarald commented on #53
I really like tracking *difficulty* and *see-before* for users to make navigation easier for starters.

[2015-11-11 16:45] delapuente commented on #53
YAML seems like the obvious path. Clear and concise. @brendandahl do you want to discuss here?

[2015-11-11 16:53] delapuente commented on #29
Totally, it is the same case indeed. I ended up with a bugged version of my update script so it never updated the worker. :) You can completely mess with the worker in such a way your kill switch will be completely useless but let's try to educate the developer to anticipate and prevent this.

[2015-11-11 16:56] delapuente commented on #29
That's the point, the recipe would try to illustrate a safe worker, this safe worker allow to press the _kill switch_ when needed.

[2015-11-11 17:58] brendandahl commented on #53
Adding more data in yaml sounds good. At the moment I'm just using a mark down parser to strip out the first header and paragraph for titles and summaries.

[2015-11-12 01:26] digitarald commented on #53
@delapuente check out front matter, we use it for platatus: http://jekyllrb.com/docs/frontmatter/ . Perfect to spice up a `readme.md`

[2015-11-13 19:11] darkwing commented on #10
Draft is presently in the Hacks wordpress instance

[2015-11-14 01:02] digitarald opened #62 "Add open-in-new-tab link for demo"
For new #57 design:

As a user I want to open a demo in a new tab to inspect it properly without the wrapper.

The first idea I had would be an icon on the tab for Demo (![icon](https://cdn0.iconfinder.com/data/icons/octicons/1024/link-external-16.png)? )

[2015-11-14 02:40] TimAbraldes commented on #9
Hey guys, good discussion going on here!

I implemented a first pass at this in #63 that I think is pretty informative as a recipe. I wanted to avoid needing any server-side logic and tried to make the example as self-explanatory as possible. Please try running it in Chrome and let me know if I succeeded. ISTM that a lot of the points brought up in the discussion here would be totally relevant to

[2015-11-14 18:14] marco-c opened #65 "Recipe: Push notification replacing using a tag"

[2015-11-14 18:44] wfwalker opened #67 "introduction says "blagh""
https://serviceworker-cookbook.herokuapp.com/index.html

[2015-11-14 18:55] #67 closed

[2015-11-16 10:06] marco-c opened #69 "Recipe: Sync when online"
Let the user do some work on a resource when offline and upload the changes when online.

[2015-11-16 14:17] marco-c commented on #44
Fixed by #49.

[2015-11-16 14:17] #44 closed

[2015-11-17 16:16] darkwing opened #76 "Ensure Each Recipe is "replay-able""
We should ensure the user can be replay any recipe as though they haven't seen it yet.  A bonus would be an indicator of some kind to show the the service worker is working/enabled.

[2015-11-17 16:50] marco-c opened #77 "List recipes in order of difficulty"
For example, push-simple should definitely be ordered before push-clients.

[2015-11-17 17:26] wfwalker opened #81 "need credits / about page / link to source repository"
i love the new direction in the UI, but it remains completely anonymous -- let's add a link saying who worked on this, link to source code, invitation to contribute?

[2015-11-17 23:00] digitarald commented on #77
:+1:

Also categories for offline, performance, push

[2015-11-17 23:01] #65 closed

[2015-11-18 05:31] #81 closed

[2015-11-18 05:31] #47 closed

[2015-11-18 05:33] digitarald opened #85 "Verify that everything works on https://serviceworke.rs/"
Put on your service worker rookie hat and take a deep dive at https://serviceworke.rs/.

r? @brendandahl @wfwalker @marco-c @zalun @darkwing @mykmelez @TimAbraldes

[2015-11-18 05:34] #57 closed

[2015-11-18 05:34] digitarald commented on #31
We mostly got there, lets make sure we got use cases in a follow up

[2015-11-18 05:34] #31 closed

[2015-11-18 06:11] wfwalker commented on #85
Message Relay README has an empty unordered list of Features and usage, and an empty "Use Case"

<img width="144" alt="cookbook" src="https://cloud.githubusercontent.com/assets/812428/11233957/1f366512-8d78-11e5-88cc-bbd9bb9d35bd.png">

[2015-11-18 11:16] marco-c commented on #85
The API analytics doesn't seem to work for me.

[2015-11-18 11:23] marco-c commented on #85
The `Offline Fallback` recipe doesn't seem to work for me. It always says I'm online and "Registered ServiceWorker" is "Did not register" and never changes.

[2015-11-18 12:06] marco-c opened #92 "Add category to recipes"
Once we add category, we should order the recipes by category first and then by difficulty.

[2015-11-18 12:07] marco-c commented on #77
Filed #92.

[2015-11-18 18:02] darkwing commented on #85
The `API Analytics` demo is functioning correctly but the demo iFrame is getting too small of a height so the link to the report isn't visible.

[2015-11-18 19:56] digitarald opened #99 "Add contribution links to sidebar"
Github stars and forks might be enough in the footer of the sidebar?

[2015-11-18 20:26] darkwing commented on #85
I've got PRs to address all issues:

https://github.com/mozilla/serviceworker-cookbook/pull/98
https://github.com/mozilla/serviceworker-cookbook/pull/97
https://github.com/mozilla/serviceworker-cookbook/pull/96

[2015-11-18 22:48] #99 closed

[2015-11-18 23:58] marco-c opened #102 "push-client recipe should open the demo page when the user clicks on the notification"
See https://github.com/mozilla/serviceworker-cookbook/pull/86#issuecomment-157865952 and https://github.com/mozilla/serviceworker-cookbook/pull/86#issuecomment-157902958.

[2015-11-19 13:34] marco-c opened #104 "List recipes by category and then in order of difficulty"
After #91 and #92, we should split the recipes in categories and order them by difficulty.

[2015-11-19 14:16] #77 closed

[2015-11-19 16:51] awalGarg opened #108 "Wrap code (at 80 chars) in sample code?"
Heyo! Thanks for the really awesome cookbook :)

I was wondering if the code samples could be restricted to a specific line width, say 80 chars?

For example, https://serviceworke.rs/push-simple_index_doc.html introduces horizontal scrolling on my 1366x768 laptop screen.

This isn't a big issue at all, but *if* owners think it would be "okay" to have this, I'll be ready with a PR ;-)

<3, Awal

[2015-11-19 18:36] jeffposnick opened #111 "Keep non-critical tasks out of FetchEvent.respondWith()"
Nice work on the cookbook!

I noticed a pattern in the [API anlytics](https://github.com/mozilla/serviceworker-cookbook/blob/master/api-analytics/worker.js#L17) example that it might be best to avoid, though: there's unneeded overhead involved in waiting for the `log()` promise to resolve before making the actual API request and returning the response to the controlled page.

A more performance-fr

[2015-11-19 18:58] #92 closed

[2015-11-19 18:59] marco-c commented on #111
It is supported in Firefox (https://bugzilla.mozilla.org/show_bug.cgi?id=1214772). Do you know if it is supported in Chrome?

[2015-11-19 18:59] marco-c commented on #111
(P.S.: Thank you for your input!)

[2015-11-19 19:05] marco-c opened #112 "Support searching recipes"
Once we add more metadata, a search functionality would be really useful.

[2015-11-19 19:10] darkwing commented on #112
Would this just search content or code as well?   I would think the category name + recipe would be sufficient.

[2015-11-19 19:11] marco-c commented on #108
Yes, Awal. I think it would be great! Lines are too long even for my 1920x1080 screen :smile:

It'd be great if you could also use the Q-style for promises, which makes lines shorter.
For example, this:
[code]
would become:
[code]

[2015-11-19 19:11] darkwing commented on #85
All addressed!

[2015-11-19 19:11] #85 closed

[2015-11-19 19:13] marco-c commented on #112
Yeah I'd say only content. We could also add tags which specify the APIs used by a particular recipe, so users can search by API.

[2015-11-19 19:17] jeffposnick commented on #111
`FetchEvent.waitUntil()` is not (yet) supported in Chrome, including Canary.

[2015-11-19 19:20] #104 closed

[2015-11-19 19:28] mykmelez commented on #108
Even wrapping at 80 characters wouldn't avoid horizontal scrolling on my 15" MacBook Pro at 1440x900. On https://serviceworke.rs/push-simple_index_doc.html my browser displays only 69 characters of the code:

<img width="1440" alt="screen shot 2015-11-19 at 11 23 39" src="https://cloud.githubusercontent.com/assets/305455/11281683/73a857b6-8eb0-11e5-8bb3-32ce178fcbea.png">

(I can hide the sidebar,

[2015-11-19 19:31] marco-c commented on #108
On my laptop, I can see 101 characters.

[2015-11-19 19:35] brendandahl opened #114 "Cache then network example doesn't use service worker"
The recipe currently shows how to do this on the main thread, which is interesting, but I think a more real world use case of this would be doing this in the service worker.

Thoughts?

@TimAbraldes

[2015-11-19 20:13] awalGarg commented on #108
@marco-c

sure

@mykmelez

hmm, we can use localstorage to remember state of sidebar across reloads? ;)
TBH, something below 80 chars sounds a wee bit too restrictive to me.

[2015-11-19 20:21] digitarald commented on #108
Lets add a lint rule for 80 characters then.

[2015-11-19 20:44] mykmelez commented on #108
That's a good idea!

Indeed. Even 80 chars feels too limiting, even though well-formatted programs will rarely have lines that exceed that limit. It might be ok for a series of recipes, though.

[2015-11-20 00:26] brendandahl commented on #108
We could also consider changing to an 'inline' style layout in docco.

[2015-11-20 00:42] TimAbraldes commented on #114
My thinking was something like: "Page gets info from cache (not requiring SW), then initiates fetch. Page needs to be notified when fetch replaces entry in cache; page might as well have fetched directly from network instead of through SW"

For a single page, there's not much reason to move logic into a SW. In a real site there would be multiple pages, so we would want to centralize the "fetch int

[2015-11-20 02:43] digitarald commented on #108
Throwing in 3 ideas that can be combined:

- make the docs column more narrow to save space, maybe even flexible to
some degree with flexbox
- make the code column overflow auto, so it can me scrolled
sideways separately from the docs on the right
- responsive layout that switches to inline style for narrow viewport and
expands to columns for wider views

On Thursday, November 19, 2015, Brendan Da

[2015-11-20 08:15] awalGarg commented on #108
concur with @digitarald. A lint rule is probably the best idea.

I shall PR for storing nav status in localStorage and the lint rule+wrapping in a while.

Changing to the inline (officially called "linear", btw :)) style/responsiveness can be done in a separate issue, I guess?

[2015-11-20 18:48] brendandahl commented on #10
https://hacks.mozilla.org/2015/11/offline-service-workers/

[2015-11-20 18:48] #10 closed

[2015-11-22 00:03] delapuente commented on #9
When reviewing the PR from @TimAbraldes , I was supponsing some use case but I think I'm not getting the point of this recipe. @digitarald do you mind to explain it to me a little bit more? What is the use case and what is the solution overview? Thanks!

[2015-11-22 00:49] digitarald commented on #112
Searching code would be nice though, "as a user I want to see all examples
using 'claim'.".

On Thursday, November 19, 2015, Marco <notifications@github.com> wrote:

--
Web Craftsman | harald@mozilla.com | @digitarald [skype/irc/line] |
+1-650-963-6612 [wapp/telegram]

[2015-11-23 16:55] darkwing commented on #32
^^ @digitarald Shall we take this out of v1 milestone due to browser bug?

[2015-11-23 17:12] digitarald commented on #32
@darkwing, yes, totally makes sense!

I wonder how we can better document this behaviour, so others don't struggle? We might we land it and put it under an "Edgecases" category. @zalun had a good example of various requests succeeding and failing.

[2015-11-23 17:40] zalun commented on #32
It is in cookbook - https://serviceworke.rs/fetching.html

[2015-11-24 17:40] digitarald opened #125 "Fetching recipe needs better code documentation"
https://serviceworke.rs/fetching_index_doc.html and https://serviceworke.rs/fetching_service-worker_doc.html are very scarce.

[2015-11-24 17:44] #23 closed

[2015-11-24 18:42] marco-c opened #127 "Review usage of logging"
I think in some cases comments would be better, given the interface generated by docco.

[2015-11-24 22:34] delapuente opened #130 "API analytics polish"
After reading @darkwing post and implementing other recipes I realized there are some problems in API analytics implementation:
  * Deletion is bugged in the server
  * The activation is bugged in the service worker
  * The registration pattern for the worker relies on a race condition and can be fixed
  * The category should be `More than offline`

[2015-11-24 23:12] #17 closed

[2015-11-25 01:32] brendandahl commented on #62
Resolved in #116

[2015-11-25 01:32] #62 closed

[2015-11-25 09:00] delapuente opened #131 "Add "show logs" to dependency injector"
It should be convenient to add "show console logs" or alike indicating the mocked interface show the results in the log.

[2015-11-25 11:08] #131 closed

[2015-11-25 11:16] marco-c opened #134 "Recipe: serve different content according to device type"
@arcturus wrote a proof of concept, maybe we can add it as a recipe: https://github.com/arcturus/sw-device-resources

[2015-11-25 11:32] #130 closed

[2015-11-25 11:57] delapuente commented on #134
Yes, it was in my radar for another _more than offline_ recipe.

[2015-11-25 12:00] delapuente commented on #111
When writing the recipe, I was aware of this. I saw the fetch event should be an extensible event (as message, I think) but as I did not see the `waitUntil()` method, I would prefer to do this way.

[2015-11-25 17:57] delapuente opened #136 "Use forEach to make defaults in the quotations API"
Change the way in which `makeDefaults()` is implemented in the [server](https://github.com/mozilla/serviceworker-cookbook/blob/master/api-analytics/server.js#L88) and client implementations from Virtual Server to use a `forEach()`.

[2015-11-25 18:28] dbialer opened #137 "MessageRelay demo doesn't work in Chrome"
I can't figure out how to make this demo work.  There doesn't seem to be a way to post the message.  Or for me it isn't obvious.  Tried in Chrome 46.

[2015-11-25 18:48] mykmelez commented on #29
Erm, I actually meant something slightly different: a recipe that demonstrates a service worker that will never get into a state that would require a kill switch to get out of. I.e. a recipe for which it would never be necessary to have a kill switch.

It may also be useful to demonstrate a service worker that contains a kill switch. But I think of those as two different recipes. The first one ill

[2015-11-25 22:15] delapuente opened #139 "Make all Quotations API based demos to highlight additions or deletions of quotes"
Make new added quote to fade in green and deleted quotation to fade out red to highlight what's happening.

[2015-11-26 11:15] delapuente commented on #29
But the risk of making such a worker is never completely unavoidable as the API allows you to do it. Practically all the recipes of _more than offline_ don't fall into that pitfall because they don't cache. But if you're caching, you eventually can fall in this trap. Anyway, I'll try to design an SW pattern that never gets into this state.

Feedback is welcome. How do you imagine we can perform a

[2015-11-26 13:38] marco-c commented on #137
I'm going to look into this.

[2015-11-26 13:47] marco-c commented on #137
We need to wait Chrome to support it:
https://code.google.com/p/chromium/issues/detail?id=543198
https://code.google.com/p/chromium/issues/detail?id=549346

[2015-11-26 13:58] marco-c opened #141 "Remove warning from message-relay recipe once it works in Chrome"
We should remove the warning added in #140 once the recipe works in Chrome.

[2015-11-26 14:19] marco-c opened #142 ""Contribute on GitHub" isn't easily discoverable"

[2015-11-26 17:51] #18 closed

[2015-11-28 19:33] marco-c opened #145 "Review recipe documentation"
For each recipe, we should ask someone that didn't write it to review it and tell us what's hard to understand / what could be better documented.

[2015-11-28 20:41] marco-c commented on #108
Fixed in #120 by @awalGarg.

[2015-11-28 20:41] #108 closed

[2015-11-28 23:57] digitarald opened #146 "Force redirect from heroku to official domain"
We got a few [links](http://www.brucelawson.co.uk/2015/progressive-web-apps-ready-for-primetime/) floating around to the herokuapp URL.

Lets do a 301 redirect if the domain is localhost (or `PRODUCTION` in `NODE_ENV`?).

[2015-11-29 01:06] marco-c commented on #142
@fbender are you working on this?

[2015-11-30 13:55] fbender commented on #142
Well, I moved the link up just below "Introduction". This is the most easy solution without rewriting large parts of the logic and/or CSS. I want to improve the menu a bit more before I'll create a PR.

[2015-11-30 13:56] fbender commented on #146
This is also true for the MozHacks post, at least the last time I checked. You might want to update that (whether you add the redirect or not).

[2015-12-01 12:07] #136 closed

[2015-12-01 16:02] marco-c opened #151 "Don't use `online` event and `navigator.onLine` properties"
Filed as a follow-up of #138.

We should better understand their drawbacks and possibly stop using them.

https://bugzilla.mozilla.org/show_bug.cgi?id=1228313
https://bugzilla.mozilla.org/show_bug.cgi?id=1228309

[2015-12-01 16:30] #19 closed

[2015-12-01 17:06] digitarald opened #152 "Push Quota needs better inline docs"

[2015-12-01 17:58] digitarald opened #153 "Show "Give feedback" per recipe"
As github is right now hard to discover in the menu, we could show a per recipe link to file an issue that prefills the issue title with the recipe name.

[2015-12-01 18:22] #20 closed

[2015-12-01 22:10] mykmelez commented on #29
I'm unsure exactly what this would look like. Generally, I would design the service worker to ensure that cache entries can always be invalidated, regardless of whether or not their code is buggy. What that means specifically may depend on the details of the situation, however.

Do you have an example of a service worker that caches buggy code that prevents the service worker from updating that co

[2015-12-02 12:03] marco-c commented on #11
https://hacks.mozilla.org/2015/12/web-push-notifications-from-irssi/

[2015-12-02 12:03] #11 closed

[2015-12-02 14:44] marco-c commented on #125
Done in #144.

[2015-12-02 14:44] #125 closed

[2015-12-03 10:54] marco-c opened #157 "Order categories"
I think we should order them differently:
- General usage
- Offline
- More than offline
- Web Push

...Instead of:
- General usage
- More than offline
- Offline
- Web Push

[2015-12-03 10:56] #142 closed

[2015-12-03 14:35] marco-c opened #158 "'Readme' and 'Demo' are not aligned"
![screen](https://cloud.githubusercontent.com/assets/1616846/11563277/131571a6-99cb-11e5-8bcf-89980e215a2f.png)

[2015-12-03 14:36] marco-c opened #159 "Make push recipe servers stateless"
They're currently storing the state in a variable (e.g. `endpoint`). This isn't going to work when multiple users are playing with the recipes at the same time.

[2015-12-03 21:34] digitarald opened #161 "Notification generator"
Makes it easy to generate various kinds of notifications: https://tests.peter.sh/notification-generator/

[2015-12-03 21:42] #152 closed

[2015-12-03 21:42] #159 closed

[2015-12-03 21:44] #102 closed

[2015-12-03 21:44] #137 closed

[2015-12-04 11:30] marco-c commented on #161
Nice!

[2015-12-07 15:59] #51 closed

[2015-12-08 04:58] #158 closed

[2015-12-08 19:28] darkwing commented on #151
How shall we replace it?  Just try to hit an arbitrary URL, maybe on the serviceworke.rs domain, to see if it reaches?

[2015-12-08 19:30] marco-c commented on #151
Yes, we can ping a domain that's most probably online (e.g. www.mozilla.org).

Let's first understand what's the actual status of the event and properties (are they supported by all browsers? Are they consistent on different OSes?).

[2015-12-09 20:03] darkwing commented on #146
I've updated the Moz Hacks post to reflect the new URLs.  Thanks for the shout @fbendr!

[2015-12-09 22:28] jeffposnick opened #170 "Use navigator.serviceWorker.ready"
I've noticed a few code samples that has functionality in the controlled page meant to execute after there's an active service worker controlling the page. In some of those samples, the following pattern is used:

[code]

(Taken from https://github.com/mozilla/serviceworker-cookbook/blob/master/virtual-server/index.js#L4)

This is a common enough use case that there's a shortcut defined in the ser

[2015-12-10 15:59] #157 closed

[2015-12-11 16:57] delapuente commented on #170
I experimented with it in one the [latest recipes](https://github.com/mozilla/serviceworker-cookbook/pull/169/files#diff-d13bf773cff8158d8e95e80f8b2cd3abR11) and I'm reopening it in order to use this pattern since now. Thank you @jeffposnick !

[2015-12-11 17:02] darkwing commented on #170
Whoa, excellent!  Thanks for the heads up @jeffposnick !

[2015-12-11 17:09] jeffposnick commented on #170
So the reason I closed the issue after suggesting it is that the `.ready` behavior isn't actually as straightforward as I had assumed.

There's a discussion about that at https://github.com/slightlyoff/ServiceWorker/issues/799

The gist of it is that if you want code in your main page to wait until it's under service worker control, `.ready` isn't sufficient, even when using `clients.claim()` in y

[2015-12-11 18:28] darkwing commented on #146
Fixed this a few days ago

[2015-12-11 18:28] #146 closed

[2015-12-13 13:38] delapuente commented on #170
I see. By specification, the [green note](http://www.w3.org/TR/service-workers/#navigator-service-worker-ready) says:

That [10th step](http://www.w3.org/TR/service-workers/#activation-algorithm) says:

As @wanderview though, I was thinking fetching events were stalled until activation completes but they are not. So, there is a chance in between the worker is in activating state and it gets to act

[2015-12-14 14:48] wanderview commented on #170
I'm not sure about the implication here, but fetch events should be delayed until activation completes.  Step 16 of Handle Fetch says:

For a while firefox was not waiting here, but that should be fixed now.

For the .ready promise, though, would it make more sense for it to resolve once the state reaches `activated` instead of `activating`?

[2015-12-17 11:17] marco-c opened #176 "Push recipe: Send notifications to multiple clients"
This would be an alternative to the `WebSocket in SharedWorker + Multiple clients` solution with the advantage of using a single connection (browser <-> push service) as opposed to one connection for each website.

[2015-12-17 13:21] delapuente opened #177 "Check if changes in the defaults for fech options affects recipes"
The spec has changed the default options for a `fetch()` call:
https://www.chromestatus.com/feature/6390594951708672

We should check if this affects our recipes.

[2015-12-21 22:59] vigneshshanmugam commented on #1
https://github.com/GoogleChrome/sw-unit-test-sample might help

[2015-12-21 23:06] vigneshshanmugam opened #178 "Resource scheduling with SW"
I was trying out with SW to prioritise requests based on the resource type. Sample code here

https://github.com/vigneshshanmugam/sw-resource-priority

Do you think if this is okay to be part of the SW cookbook? I can add a PR with this idea.

[2015-12-22 02:18] toxic-johann opened #179 "there are some problems when i run npm install"
i fork it and i run npm install
but it seems some problem happen
![image](https://cloud.githubusercontent.com/assets/2577157/11946390/385ba362-a895-11e5-9302-6599cb00314d.png)
i can't find this dev.
is it necessary or how can i solve it?

[2015-12-22 03:54] toxic-johann commented on #179
i find what the problem is.because i can't not find alrra/travis-scripts in cnpm.i change into npm and solve this problem

[2015-12-22 14:09] marco-c commented on #178
Of course! A "Performance" recipe.

[2015-12-22 14:16] marco-c commented on #13
https://hacks.mozilla.org/2015/12/beyond-offline/

[2015-12-22 14:16] #13 closed

[2015-12-22 14:55] marco-c commented on #179
I can't reproduce the problem.
We don't really need that dependency though, so I submitted #180 to remove it.

[2015-12-22 18:16] vigneshshanmugam commented on #178
Awesome. Will raise a PR once done :+1:

[2015-12-23 12:09] marco-c opened #181 "Recipe: cache a set of important files on install and others lazily"
@jonathanKingston implemented this for his site, as described here: https://github.com/mozilla/oghliner/pull/236#issuecomment-166765133

[2015-12-23 13:51] jonathanKingston commented on #181
There is also push into the service worker straight after install based upon a list rather than just lazily.

Also mentioned in that comment is producing different content for the service worker compared to the non service worker site, this is similar to: https://github.com/mozilla/serviceworker-cookbook/issues/134 but more focused upon post cache improvements.

Are you looking for pull requests f

[2015-12-23 14:04] marco-c commented on #181
I'd consider this as a separate recipe (let's open another issue for it).

Sure, it'd be great if you could write one.

[2015-12-23 14:47] jonathanKingston opened #182 "Recipe: different content for service worker to non service worker"
Using service worker to provide different content when the cache is used over non cache with no service worker. Similar to: #134 but more focused upon post cache improvements.

The recipe can concentrate on the improvements provided by using a cache.
- Loaded fonts and CSS means critical CSS and lazily loading fonts isn't required
- Older browser hacks can be removed

@marco-c suggested we open a

[2015-12-23 15:14] jonathanKingston commented on #177
I noticed that you had tests for service worker using https://github.com/delapuente/karma-sw-mocha would this be possible for all of the recipes?
Obviously changes like this are rare however worth having as a heads up.
The tests could also be leveraged to give support like indicators like those found on: https://platatus.herokuapp.com/

[2015-12-27 15:58] lv7777 opened #184 "help my code reading!!!"
https://serviceworke.rs/api-analytics_service-worker_doc.html

in

What is this code doing ?
I assume this code is request to "api/quotations",right?

[2015-12-27 16:19] marco-c commented on #184
`log(event.request)` logs the request and returns a Promise that resolves to the request.
Once the promise is resolved, `fetch` is called with the request.

A more verbose equivalent would be:
[code]

[2015-12-27 16:19] #184 closed

[2015-12-28 03:17] #179 closed

[2015-12-29 02:24] toxic-johann commented on #179
ok,thanks a lot~

[2015-12-30 10:35] delapuente opened #187 "Render Store demo is not working"
Render Store demo is accessing an API not served under HTTPS so it's considered mixed content and it's being blocked by UAs.

[2015-12-30 10:46] #187 closed

[2016-01-06 22:02] digitarald opened #190 "Redirect /index.html to /"
Better canonical URLs

[2016-01-09 22:51] marti1125 opened #192 "[Question] Message Relay Demo"
In the demo doesn't show the version [Version -]   tag should be removed or add the version? like Immediate Claim Demo

[2016-01-11 19:12] marco-c commented on #192
Thank you for noticing this! It's going to be removed in #194.

[2016-01-11 19:16] #192 closed

[2016-01-14 17:40] vidhill opened #196 "Server Problem on Demo Site?"
I'm seeing 503 errors on the demo pages:

For example: https://serviceworke.rs/push-simple_demo.html

https://serviceworke.rs/push-simple/register  503 error
https://serviceworke.rs/push-simple/sendNotification?.... 503 error

[2016-01-14 17:50] marco-c commented on #196
I'm not seeing 503 errors.
Does the demo work for you? What browser are you using?

The `register` request is empty, I don't see how it could fail:
[code]

[2016-01-14 21:11] vidhill commented on #196
No, the notification wasn't working, it was on Chrome Canary on Windows (my work machine).

I'm on Chrome (standard ) on Mac now and it's working fine here

- I do still see the 503 responses but they're obviously not affecting it.
Log; [serviceworke.rs-1452805485737.txt](https://github.com/mozilla/serviceworker-cookbook/files/91010/serviceworke.rs-1452805485737.txt)

![image](https://cloud.github

[2016-01-14 23:26] marco-c commented on #196
Thank you, I think I've found the issue and #197 should fix it.
The errors were spurious though, so they shouldn't affect the notification stuff.

Can you open another issue, after #197 is merged, if you still can't receive notifications on Windows?

[2016-01-15 14:57] vidhill commented on #196
Yes,
No problem,

I'll check it, when it's merged..

[2016-01-20 11:04] vidhill commented on #196
Issues still exists, don't expect to be resolved until pull #197 is merged

[2016-01-20 14:16] marco-c opened #198 "Add recipe that allows getting a payload without using PushMessageData"
This is a useful recipe, since the only browser supporting push payloads is Firefox.

[2016-01-20 19:33] digitarald opened #200 "Add recipe to page title"
Better SEO :)

[2016-01-20 19:36] digitarald commented on #170
@delapuente , as sw master, what would be your call here?

[2016-01-20 19:58] delapuente commented on #170
@digitarald we are having this discussion in https://github.com/slightlyoff/ServiceWorker/issues/799

[2016-01-22 04:18] wanderview opened #201 "immediate-claim/service-worker.js should set max-age 0"
Currently the immediate-claim/service-worker.js is being served with this header:

  Cache-control: public, max-age=7200

This means when someone runs the demo and clicks the "update" button, they will most likely not see the service worker update.  The browser will check the script to see if its a byte-for-byte match with the installed worker.  Since its in the http cache it will almost always be

[2016-01-22 04:44] digitarald commented on #201
Good catch. I will add a custom rule for service worker files.

[2016-01-22 22:43] digitarald opened #202 "Generate landing page for categories"
As a user I want to link to web push examples.

[2016-01-25 15:52] #196 closed

[2016-01-27 17:43] #198 closed

[2016-02-01 19:34] marco-c opened #205 "Dead link in push subscription management recipe"
The `Working example` in https://serviceworke.rs/push-subscription-management_index_doc.html.

[2016-02-17 13:05] #205 closed

[2016-02-17 19:58] digitarald opened #209 "Add catch everywhere"
Until Promise debugging lands, catch falls silently when we don't log errors. We should always catch and `console.error`

[2016-02-22 14:43] marco-c opened #212 "Update live-flowchart README"
The screenshots need to be updated since we've replaced the flowchart in #211.

[2016-02-22 17:01] #212 closed

[2016-02-22 17:19] marco-c commented on #32
Should we close this?

[2016-02-22 17:22] marco-c commented on #27
Looks like it is available everywhere: https://developer.mozilla.org/en-US/docs/Web/API/Request/cache

[2016-02-22 17:25] marco-c commented on #27
So I guess we can't use it to feature detect? Since https://bugzilla.mozilla.org/show_bug.cgi?id=1120715 is still open.

[2016-02-22 17:25] TimAbraldes commented on #27
Yeah it would seem that feature detection isn't going to help us here

[2016-02-22 17:26] #27 closed

[2016-02-22 19:01] digitarald commented on #32
+1

[2016-02-22 19:01] #32 closed

[2016-02-23 12:06] #200 closed

[2016-03-01 13:08] anaran opened #215 "fix typo"
https://github.com/mozilla/serviceworker-cookbook/blob/d6b7327797910f10a9383ecee6d45d93ad1f301c/immediate-claim/server.js#L13

Will send a pull request now.

[2016-03-01 13:14] marco-c commented on #215
Fixed by #216.

[2016-03-01 13:14] #215 closed

[2016-03-11 16:18] anaran opened #217 ""Offline Fallback" demo not accessible offline"
[Offline Fallback Demo](https://serviceworke.rs/offline-fallback_demo.html)
only caches
[oninstall] Cached offline page "https://serviceworke.rs/offline-fallback/offline.html"

The demo itself, however, is not accessible while offline since it is not getting cached.

Using this demo in a firefox os bug report leads to some awkward recipe as a consequence:

[1255803 – "_URL_ requires an internet co

[2016-03-24 13:35] marco-c opened #218 "Add recipe with VAPID"

[2016-03-30 15:00] #190 closed

[2016-03-30 15:32] darkwing commented on #201
My PR for this was merged.

[2016-03-30 15:32] #201 closed

[2016-03-30 18:35] #202 closed

[2016-03-30 18:36] marco-c opened #225 "Add descriptions to category landing pages"
Follow-up to #221.

[2016-03-30 18:44] marco-c opened #226 "Add title to category landing pages"
As @digitarald suggested, something like "Beyond Offline Recipes - ServiceWorker Cookbook".

For recipe pages, we can add the category name to the title (e.g. "API Analytics Recipe - Beyond Offline - Service Worker Cookbook" instead of "API Analytics Recipe - Service Worker Cookbook").

[2016-03-30 20:56] digitarald opened #227 "Better onboarding experience"
Problem: Most users just click the first recipes (immidiate-claim, second push-simple) in the menu.

As a user I want to be guided into Service Workers when coming to the page.

[2016-03-30 21:02] digitarald opened #228 "Improve Recipe pages"
Just some user stories to verify
- As a user I want to see the recipe demo when clicking on a recipe on large screens.
- As a user I want to see the code right in the recipe landing page

[2016-04-01 18:52] clarkbw opened #229 "page to help people convert AppCache into a service worker"
AppCache will soon be disabled in Firefox and service workers are supported and provide a better caching opportunity anyway.

I thought the cookbook could provide a simple page to take an AppCache file (or perhaps a URL where it would find the manifest file from a site) then display what the required code would be to reproduce the caching service worker; HTML changes + JS code for a sample service

[2016-04-01 19:19] digitarald commented on #229
Also want to throw in an experiment: could a drop-in library that gets pointed to an appcache file do something similar without a build step?

[2016-04-04 16:02] digitarald commented on #229
@miketaylr mentioned that a shim or drop in library is on top of web compat's mind and we might be able to help using our service worker expertise. @delapuente, @marco-c could you do some exploration here to give a recommendation how feasible this would be?

[2016-04-04 16:09] jeffposnick commented on #229
FYI—I (as a member of Google's Web DevRel team) have been implementing a helper for the runtime conversion scenario, with code at https://github.com/jeffposnick/appcache2serviceworker/pull/1.

The plan is to release it in a more permanent home, but it needs tests, docs, and a bit of refactoring first.

I don't point that out to discourage any efforts that the Mozilla folks might put into implement

[2016-04-04 16:30] marco-c commented on #229
@jeffposnick I don't see any reason why we would duplicate our efforts.

[2016-04-04 16:41] clarkbw commented on #229
@jeffposnick this is great!  Looks like similar goals, how can we help?

[2016-04-04 16:57] jeffposnick commented on #229
:smile:

While I've been relying on the extremely capable @jakearchibald for feedback on the code so far, feel free to take a look at what's there and, if you're so inclined, try following the examples from the demo/ directory against a test deployment of any real-world App Cache examples you have. (Apologies that there's no formal docs for using it yet.)

Any feedback is welcome on that PR, and I

[2016-04-04 16:58] digitarald opened #231 "Push recipe that collapses using server and client side collapsing"
Push can collapse messages using tags. We should document how they behave.

[2016-04-07 10:59] marco-c commented on #231
Client side collapsing is here: https://serviceworke.rs/push-replace.html.

[2016-04-07 15:47] digitarald commented on #218
@groovecoder is looking at that

[2016-04-19 07:44] addyosmani commented on #229
Hey folks (@clarkbw, @marco-c). If you have time, we would love to get more feedback on Jeff's conversion library before we move it to a new repo. Do you think you might have time to take a look over it?

[2016-04-19 07:52] delapuente commented on #229
[Comment 44 at bugzilla bug 1237782](https://bugzilla.mozilla.org/show_bug.cgi?id=1237782#c44) points to https://github.com/kenchris/jakecache

[2016-04-19 07:59] delapuente commented on #229
Anyway, I'm taking a look at @jeffposnick PR

I'm thinking if more than a polyfill, we could use a conversion to pure sw, to preserve AppCache behavior without imitating it which could lead to better adoption.

[2016-04-19 11:03] delapuente commented on #229
Done, I left my comments on [@jeffposnick PR](https://github.com/jeffposnick/appcache2serviceworker/pull/1).

[2016-04-20 15:50] clarkbw commented on #229
We can probably close this issue out now.  We might want to open another issue for pointing to useful AppCache to ServiceWorker utilities but I think the original intent is well covered well by  https://github.com/kenchris/jakecache and the work going into jeffposnick/appcache2serviceworker#1

[2016-05-05 16:41] #229 closed

[2016-06-18 22:58] wanderview opened #234 "JSON Cache demo no long works due to redirect for manual mode request"
I just tried using the JSON Cache demo and it fails on refresh with:

Failed to load ‘https://serviceworke.rs/json-cache/index.html’. A ServiceWorker passed a redirected Response to FetchEvent.respondWith() while RedirectMode is not ‘follow’.service-worker.js:41:2

[2016-06-20 19:54] wanderview opened #235 "dependency injector demo does not display buttons correctly"
In firefox dev edition the dependency injector demo is not showing its buttons correctly.  They are cut off and i can only see the very tops of them in order to interact with the demo.

[2016-06-23 08:42] GrosSacASac opened #236 "Error"
On the demo:
https://serviceworke.rs/immediate-claim_demo.html

An error occurred in the application and your page could not be served. Please try again in a few moments.

If you are the application owner, check your logs for details.

[2016-06-23 11:04] marco-c commented on #236
It's working again now. Probably an intermittent Heroku issue.

[2016-06-23 11:04] #236 closed

[2016-07-26 11:14] delapuente opened #238 "Beware of cache all strategies' issues"
Look at: https://github.com/slightlyoff/ServiceWorker/issues/926#issuecomment-233340304

[2016-07-26 11:15] delapuente opened #239 "Provide fetch basic strategies"

[2016-07-26 11:21] delapuente opened #240 "Provide fetch strategies for authenticated resources"

[2016-07-26 11:24] delapuente commented on #239
Take a look at https://jakearchibald.com/2014/offline-cookbook

[2016-08-31 21:38] mauricionr opened #242 "Error: The GCM API Key should be a non-emtpy string, (start-server)"
I was trying to run `npm run watch` and i got this error

[code]

[2016-09-03 07:33] upsuper opened #243 "Cannot start the server locally"
I ran `npm install` and `gulp watch`, I got the following message:
[code]

[2016-09-07 06:05] zhengqingxin commented on #242
I met this too,how to resolve this?

[2016-09-07 08:45] marco-c commented on #242
Set the GCM_API_KEY env variable to your GCM API key.
It also works if you set it to a dummy API key.

[code]

[2016-09-07 08:45] #242 closed

[2016-09-16 08:08] ejulen commented on #243
I had the same issue on Node 6. After switching to Node 4 the issue went away.

[2016-09-17 10:52] delapuente commented on #243
Indeed, you need up to Node 4.2.4

[2016-09-17 10:52] #243 closed

[2016-09-17 10:53] delapuente commented on #235
PR #244 should fix this.

[2016-09-17 10:59] upsuper commented on #243
You should probably add that requirement to README or somewhere obvious. Also, it would be helpful to add some guides about how to install Node 4 in different platforms. It doesn't seem easy nowadays.

[2016-09-17 11:03] upsuper commented on #243
Without those info, this repo would definitely be considered not welcome to new contributions, since it is pretty hard for people to start hacking. Previous contributors may also find it hard to continue contributing after their local node gets upgraded.

[2016-09-17 12:24] marco-c commented on #243
Can you file a new issue to make the cookbook compatible with Node.js?

[2016-09-17 16:03] delapuente opened #245 "Update deprecated dependencies"

[2016-09-17 16:03] delapuente opened #246 "Make the site compatible with node 6"

[2016-09-21 17:39] marco-c opened #254 "Can't scroll the Live Flowchart demo via phone or iPad"
http://stackoverflow.com/questions/37221257/showing-messages-for-service-worker-states/38470106?noredirect=1#comment66505495_38470106

[2016-10-20 13:31] #235 closed

[2016-10-20 13:52] delapuente opened #256 "Manually update"
Demo manual update.

[2016-10-20 13:53] delapuente opened #257 "One off"
Demo one off background sync.

[2016-10-24 11:23] #239 closed

[2016-10-25 07:53] delapuente opened #258 "Add custom notification sound to Push Rich recipe"

[2016-10-27 06:54] delapuente opened #259 "Say server.js assumes an Express server."

[2016-10-27 14:22] jxn opened #260 "Content prefetching recipe"
It would be nice to have a functioning recipe for content prefetching ala this demo from the Chrome docs (https://googlechrome.github.io/samples/service-worker/prefetch/index.html).

Incidentally, this example seems to work in Chrome, but not Firefox (as of FF 52), but a lot of the Chrome demos seem to be slightly broken on Firefox.

[2016-10-27 17:29] wanderview commented on #260
@jxn What doesn't work in firefox?  The only difference I see here is that the non-cached resource gives the "corrupted content" for a bad interception in firefox when offline.  This is because the service worker is rejecting the promie passed to the `respondWith()`.

[2016-10-27 18:16] jxn commented on #260
@wanderview that is the same thing I see, but I get the corrupted content response for both of the pre_fetched resources as well as the non-pre-fetched one.  Do you see something different?  I'm testing w/ FF 51.0a2 at the moment.@wanderview that is the same thing I see, but I get the corrupted content response for both of the pre_fetched resources as well as the non-pre-fetched one.  Do you see s

[2016-10-27 18:20] wanderview commented on #260
Yea, I'm testing on dev-edition as well.  Works for me here.

Are you by any chance sharing your profile between different versions of firefox?

![screenshot 2016-10-27 14 18 51](https://cloud.githubusercontent.com/assets/1256526/19779745/7aff0452-9c50-11e6-852e-9c8be0f08f90.png)

[2016-10-27 18:22] jxn commented on #260
I am.  Is that a potential for problems?  I don't actually need Release and Nightly FF to use my profile (those are only for testing), but I didn't think it would cause problems.

[2016-10-27 18:31] wanderview commented on #260
Yes, we do not support running a profile in a newer version and then taking it back to an older version.  It mostly works, but when disk formats change it can break.  We recently changed the disk format of the Cache API in FF52, so that it likely what you are hitting.

I've been trying to get our UX team to do a warning of some kind if we detect this, but we're not there yet.

[2016-10-27 18:34] jxn commented on #260
@wanderview ok, thanks.  I just created a new profile and was about to post that it works.  Bah!  apologies for the bad false report.  I'd still love some examples from serviceworke.rs on this, though.

[2016-10-28 14:55] wanderview commented on #260
FYI, I think chrome has some bug here in that its treating a thrown exception like a normal network error.  I file this:

https://bugs.chromium.org/p/chromium/issues/detail?id=660377

[2016-11-09 22:09] delapuente opened #261 "Add a section about using popular tools"
It would be great to add some recipes about how to use the main third party tools related to Service Workers: localforage, web-push, sw-toolbox, sw-precacache...

[2016-11-10 12:03] delapuente opened #262 "Add some recipes about handling redirections"

[2016-12-14 01:29] sombodi opened #263 "URL.createObjectURL is not a function on Request Deferrer Demo"
We are getting this error when turning internet connection back on, and the system tries to sync,
on the demo  at localforage.js:1276 Uncaught TypeError: URL.createObjectURL is not a function

Where is URL defined? We can't find it either.

Thanks

[2016-12-26 07:46] LogicParrot opened #264 "Why do we perform response.clone()?"
The following code is from the `Cache, Update and refresh` cookbook.
The response object is clonedand eventually passed on to the `refresh()` function, which extracts an eTag and a url from the cloned object.

[code]

I think the the clone can easily be avoided by extracting that data inside `update`, like so:

[code]

[2017-01-12 00:37] arcturus opened #265 "Receive Push Payload Demo stopped working"
Right now the following recipe is not working:

https://serviceworke.rs/push-payload_demo.html

When pressing the button to send the notification, after a while the heroku app return a 503 error.

/cc @marco-c @delapuente

[2017-01-12 00:40] marco-c commented on #265
It's working for me in Nightly, but anyway I think we should update the examples with the latest version of the `web-push` library.

[2017-01-12 00:58] arcturus commented on #265
Oh sorry my fault, tried this with stable, 50.1.0

[2017-01-25 10:20] delapuente opened #266 "'Simple push' recipe's CURL command is broken in Chrome"

[2017-01-30 05:12] timdream opened #267 "Add a simple paragraph to explain what different "recipes" means"
I've only start looking at service workers recently. The cookbook here is great but it throw a lot of recipes at me without explaining what recipes are and what they do.

This is the only sentence on the site.

Itself maybe enough if we could make sure the visitors read it first, but it's unlikely given the placement on the page. I propose we add a "What are the recipes?" section (before Attributi

[2017-01-31 03:09] perrin4869 opened #268 "Why not subscribe to push subscriptions within the service worker's onactivate event?"
This is a question regarding all the push cookbooks. In all of them, we subscribe to push subscriptions from within the webpage, more or less as follows:

[code]

Couldn't the same code be included inside the service worker's activation or installation phase, and wouldn't it make more sense to confine it to it?

[code]

[2017-02-24 11:28] delapuente commented on #261
Let's revive this issue. Here is the list of favourite tools I would want to cover and how:

 - [ ] _localforage_ since you can not rely on the global state in a SW and this library is broadly used as a wrapper for IDB.
 - [ ] _web-push_ illustrating a basic setup for integrating with Mozilla & Google push servers.
 - [ ] _sw-precache_ is broadly used to implement application shell architecture.

[2017-02-24 12:59] #246 closed

[2017-02-24 15:19] delapuente commented on #256
I think this is done in https://serviceworke.rs/strategy-cache-update-and-refresh.html

[2017-02-24 15:19] #256 closed

[2017-02-24 15:21] delapuente commented on #260
We have this [recipe about pre-catching all the resources from an external JSON](https://serviceworke.rs/json-cache.html) file but it seems not to be simple enough.

[2017-02-24 17:30] delapuente opened #270 "A better explanation of the subscribe recipe is needed"
Clarifies that the user will start receiving notifications until he unsubscribes.

[2017-02-24 18:05] delapuente opened #271 "Push Quota recipe is bugged"
The service worker never installs. By the way, use localForage to store the state and remove the cache-as-storage reducing noise.

[2017-02-24 18:17] #265 closed

[2017-02-27 08:03] delapuente commented on #254
- [ ] Review iOS devices explicitly.

[2017-02-27 10:18] delapuente opened #273 "Demos are not responsive"
Demo content is not properly visualised in small/mobile screens.

[2017-02-27 10:19] delapuente opened #274 "Can't scroll page when demo iframe is taller than viewport"

[2017-02-27 10:19] delapuente commented on #254
Although not primarily supporting iOS devices right now since Service Workers don't work there, we should provide a correct navigation experience. I split the bug into #273 and #274.

[2017-02-27 10:19] #254 closed

[2017-02-27 10:50] delapuente commented on #266
CURL command is not expected to work in Chrome as the demo explains:

[2017-02-27 10:50] #266 closed

[2017-02-27 11:17] marco-c commented on #263
It's a global object:
https://developer.mozilla.org/en-US/docs/Web/API/URL
https://developer.mozilla.org/en-US/docs/Web/API/URL/createObjectURL

[2017-02-27 11:17] marco-c commented on #263
In which browser and which version are you seeing this error?

[2017-02-27 11:18] #245 closed

[2017-02-27 11:47] delapuente commented on #263
It seems that [`createObjectURL` must not be exposed inside a Service Worker](https://github.com/w3c/ServiceWorker/issues/688) environment. Let's close it here and open a bug in localForage.

[2017-02-27 11:47] #263 closed

[2017-02-27 12:06] delapuente commented on #268
I can not imagine if there is a good reason to do this. Perhaps to reduce client/service worker messages but maybe @marco-c can answer better.

[2017-02-27 12:46] delapuente opened #277 "Clarify "Offline fallback" recipe should be run in isolation or refresed with the provided link"

[2017-02-27 12:46] delapuente commented on #217
Although I admit this is weird, this specific demo should be run in isolation. Filed #277

[2017-02-27 12:46] #217 closed

[2017-02-27 12:48] delapuente commented on #228
Hi @digitarald, I'm thinking about making a UI re-bump for the Cookbook, do you mind to elaborate into this, please?

[2017-02-27 12:55] delapuente commented on #177
Related to #234

[2017-02-27 13:03] #139 closed

[2017-02-27 13:05] #226 closed

[2017-02-27 13:06] marco-c commented on #268
Honestly, I don't see any difference in the two approaches. @perrin4869 why do you think it would make more sense?

[2017-02-27 14:38] #141 closed

[2017-02-27 21:11] digitarald commented on #228
This is mostly about using vertical space on larger screens, showing code right next to the demo.

[2017-03-05 14:59] perrin4869 commented on #268
Well, there are 2 reasons I think it makes more sense:

1) Purely semantic reason. Seems like all code related to push notifications belongs in service workers, which are the only ones that can intercept these notifications in any case. Placing the code outside of service workers just feels out of place.

2) If we subscribe outside of service workers, we are submitting a subscription to the server

[2017-05-24 20:38] jensimmons opened #280 "Broaden the opening description so it's clear Service Workers are for more than just apps"
You start by saying:

The Service Worker Cookbook is a collection of working, practical examples of using service workers in modern web apps.

But Service workers can be used for great affect for many more projects than the ones that are considered "an app". I know Google wants to promote the concept of a "PWA" and define a specific formula for making a PWA... but I hope Mozilla can have a broader

[2017-06-04 23:44] marco-c commented on #280
I'm fine with changing the description, but I have no ideas on how to improve it.

cc @delapuente

[2017-06-08 17:52] delapuente commented on #280
Btw, thank for the heads up.

[2017-06-28 08:52] narendrasinghrathore opened #282 "Catch push event in angular app"
How can i catch the push event in service worker in angular app. Is there any way to $watch on "push" event of service worker...?

[2017-06-28 09:29] amitparrikar commented on #282
Service Worker is totally different entity, it has nothing to do with AngularJS. neither you can watch on any service worker variables.

Solution:

- Write a AngularJS Service which listen on all the **message** event from your service worker.
- Now this service will be your contact person to your service worker. Make it like a utility service for Service Worker.
- Whenever service worker pushes a

[2017-06-28 09:48] narendrasinghrathore commented on #282
@amitparrikar  Can you share some code for creating service of service worker in angularjs ?
Thank you.

[2017-06-28 17:12] marco-c commented on #282
This is not an issue.

[2017-06-28 17:12] #282 closed

[2017-07-01 23:14] hirasso opened #283 "Where do I retrieve an GCM_API_KEY?"
The title says it all – sorry if the question is dump ?:/
I *do* need one on the server side, right?

[2017-07-02 13:03] marco-c commented on #283
It's not strictly needed. New versions of Chrome support VAPID and don't need a GCM API key.

[2017-07-02 13:03] #283 closed

[2017-07-02 13:09] hirasso commented on #283
Thanks for your response! So – where do I get those VAPID keys?

[2017-07-02 13:30] marco-c commented on #283
You genereate them yourself, look at the documentation of the web-push library: https://github.com/web-push-libs/web-push.

[2017-07-26 10:14] marco-c commented on #271
The demo is not working on Chrome apparently, we need to fix it.

[2017-08-06 20:43] audas opened #284 "Service Workers failing in Firefox + LetsEncrypt"
code: 18
nsresult: 0x80530012]

The most basic implementation fails with Firefox and even a clean install of Firefox Developer edition - no plugins, everything enabled.

Other sites are functioning correctly with HTTPS, and Chome and Edge both function correctly (Edge only notifications).

The only variation is Letsencrypt.

[2017-09-19 16:07] marco-c commented on #284
Could you file an issue on Bugzilla (https://bugzilla.mozilla.org/enter_bug.cgi?product=Core&component=DOM%3A%20Service%20Workers)?
CC @wanderview

[2017-10-19 04:38] rjsteinert opened #285 "Recipe: Notify user a new cache is available, let them decide when to update"
Hi there. I've been studying service workers for some time and have yet to find an example of how to prompt users if they would like to install a cached version of the site and then also prompt them to install when an update is available. Does one of the service worker examples do this and I just didn't understand it?

__User Stories__

1. On first page load, prompt the user asking if they would l

[2017-10-19 16:30] marco-c commented on #285
There's no recipe that does exactly this, but you can definitely use them as building blocks to achieve what you are describing.

[2017-10-20 04:13] rjsteinert commented on #285
Thanks for the response @marco-c. I have the same question in the workboxjs repo where we've started to discuss potential ways to accomplish this recipe with help from workbox-cli. https://github.com/GoogleChrome/workbox/issues/926#issuecomment-338084353

[2017-11-19 03:18] Genteure opened #286 "The domain serviceworke.rs has expired"
[code]
_Oops..._

[2017-11-19 12:49] marco-c commented on #286
CC @digitarald

[2017-11-22 10:30] anisse commented on #286
Indeed, it also means broken links in MDN:
https://developer.mozilla.org/en-US/docs/Web/API/Push_API

[2017-11-22 10:57] mrbinr commented on #286
Some parts seems to be accessible using https://web.archive.org/web/20171109215500/https://serviceworke.rs/
i hope it will be online soon ...

[2017-11-27 18:20] digitarald commented on #286
Cloudflare thought that the nameservers got broken; which seems all correctly configured. It is currently re-fetching them, which should fix the issue. Will report back when my manic refreshing leads to a result.

[2017-11-27 18:25] peterjanes commented on #286
The whois record still says the domain has expired, which may be the core issue.

[2017-11-27 19:11] digitarald commented on #286
True. The interface is broken then. Expiration date is correctly shown as Nov 16th, so I just renewed. I am now waiting for the change to be reflected.

[2017-11-28 00:44] digitarald commented on #286
Confirmed fixed.

[2017-11-28 00:44] #286 closed

[2017-12-07 14:36] rathorebs opened #288 "The GCM API Key should be a non-empty string or null."
Hi Team,
I'm facing following error.

![issue](https://user-images.githubusercontent.com/9293248/33720471-0bb121c8-db8a-11e7-86aa-c3db1eebf3f3.jpg)

[2018-01-09 04:18] lechidung commented on #288
me too!

[2018-01-09 10:56] marco-c commented on #288
You need to set the `GCM_API_KEY` environment variable. If you are testing with recent versions of Firefox/Chrome you don't actually need it, so you can set it to a fake value (e.g. `set %GCM_API_KEY%=ciao`).

[2018-01-09 11:01] #288 closed

[2018-01-09 11:01] marco-c commented on #288
It should be no longer required now.

[2018-01-09 11:02] #280 closed

[2018-01-12 11:08] rravithejareddy opened #289 "Not working in chrome localhost"
It's working in firefox but did'nt worked on chrome localhost(not secured), i am getting 500 internal error. it worked on chrome when i see in this link https://serviceworke.rs/. do need to include GCMapikey to work on chrome ?

[2018-01-12 11:12] rravithejareddy commented on #289
It's working in firefox but did'nt worked on chrome localhost not secured, it worked on chrome when i see in this link https://serviceworke.rs/. do need to include GCMapikey to work on chrome ?

[2018-01-12 12:31] marco-c commented on #289
Yes, I think you need a GCM API key. Unfortunately the project hasn't been updated to use VAPID.

[2018-01-16 09:40] #274 closed

[2018-01-16 09:45] delapuente opened #290 "Move push demos to VAPID"

[2018-01-17 06:51] nvtuan305 opened #291 "TypeError: ServiceWorker script encountered an error during installation."
I have tested https://serviceworke.rs on the Google Chrome v50+ and everything is working but I will get the error below on Firefox 44, 45, 46, 52, latest Firefox (version 57.0.4 64 bit) when call `navigator.serviceWorker.register('./service-worker.js')` function.

I have opened a new question on Stackoverflow at [here](https://stackoverflow.com/questions/48295748/firefox-typeerror-serviceworker-s

[2018-01-25 21:40] aliams commented on #218
👍 for this

[2018-01-28 16:30] slokhorst commented on #290
I'm trying to do this, but it requires storing the server's VAPID keys somewhere. (like how the GCM key is stored in `manifest.json` right now)

What is the best way to do this? Do we already depend on some kind of node.js storage library?

The alternative would be to invalidate the subscription (client-side) on every page load and create a new one. But that's not good practice to teach people and

[2018-02-09 11:21] red0whale opened #298 "Got 404 of URL 'register' and 'unregister' in 'Push Subscription'"
In the '[Push Subscription](https://serviceworke.rs/push-subscription-management.html)' recipe, where is the url '_register_' and '_unregister_' in the first parameter of fetch API? I got 404 error.
By the way, my server uses PHP.

![](https://uploads.disquscdn.com/images/dd2e65564a44fbcffe5d50f2b9c3890412e51c16c48ce8d1302e5436dd3d52f1.png)

![](https://uploads.disquscdn.com/images/5ca4df7aad89e32

[2018-02-26 10:45] tupham2006 commented on #291
Hello. Do you use Linux? I have same problem when use Linux but It works fine on window

[2018-02-26 10:53] marco-c commented on #291
CC @wanderview

[2018-02-26 15:46] nvtuan305 commented on #291
@tupham2006 I'm using Ubuntu 16.04 LTS. I will check it on Windows. Do you have any solutions to fix this issue on Linux?

[2018-02-26 16:44] wanderview commented on #291
How are you using to serve the script and what is its Content-Type header?

[2018-02-28 18:13] slokhorst commented on #290
There's a caveat here: If we switch to VAPID (remove GCM key), Chrome doesn't accept unencrypted push messages. Even when they have no data. This means that all push recipes will need the key handling/encryption code, even push-simple and push-get-payload. This makes them pretty much identical to push-payload, and they should probably be removed.

[2018-02-28 19:49] thasmo commented on #291
@wanderview, I'm encountering the same issue with Firefox Quantum Developer Edition 59.0b13 (64-Bit) on Windows 10 Pro.

[2018-02-28 19:53] wanderview commented on #291
I need better steps to reproduce.  Please spell exactly which page is being loaded, etc.

Also, do you have any non-standard cookie preferences?  For example, blocking cookies or configuring cookies to be deleted when the browser exits?  These can disable service workers.

[2018-02-28 20:17] thasmo commented on #291
@wanderview, on https://serviceworke.rs/push-payload/ I get `TypeError: ServiceWorker script at https://serviceworke.rs/push-payload/service-worker.js for scope https://serviceworke.rs/push-payload/ encountered an error during installation.`.

Network log:
* 200 GET /push-payload/
* 200 GET index.js

Calling `https://serviceworke.rs/push-payload/service-worker.js` directly gives `200 GET service-w

[2018-02-28 20:21] wanderview commented on #291
Hmm, I can't reproduce.

![screenshot 2018-02-28 15 19 52](https://user-images.githubusercontent.com/1256526/36811202-f78c772c-1c9a-11e8-9e2f-bbcddb8bda8e.png)

Can you go to about:support, click "copy text to clipboard", and paste here?

[2018-02-28 20:24] wanderview commented on #291
Oh, also, did you ever open this same profile in multiple versions of firefox?  For example, in both release and nightly, etc?

[2018-02-28 20:26] thasmo commented on #291
@wanderview, I do only have Firefox Developer edition installed but I did swap from the standard edition quite some time ago. I'm going to check if a different profile behaves different.

[2018-02-28 20:35] wanderview commented on #291
FWIW, you should always use a separate profile for each channel (release/beta/dev-edition/nightly).  We're working on making it work like that out-of-the-box, but its not ready yet.

[2018-02-28 20:43] thasmo commented on #291
I'm using another channel at work with the same profile, could that be the problem? (Even when not on the same machine?)

[2018-02-28 20:45] wanderview commented on #291
The profile is local to a machine unless you are somehow sync'ing the profile between them through some external means.

A good first step to test if the profile is the problem is to test on a new profile.  You can go to about:profiles, click "create new profile", and then "launch profile in new browser".

[2018-02-28 20:47] thasmo commented on #291
Created a new profile; the problem is gone. Thanks a lot, @wanderview!

[2018-03-01 01:21] nvtuan305 commented on #291
It worked after I go to `about:support` and click `Refresh Firefox`. Thank a lot, @wanderview

[2018-03-01 01:26] #291 closed

[2018-03-02 12:24] jeremy-w opened #299 "iOS: Unnecessarily difficult to scroll through Table or contents due to broken inertial scrolling"
Inertial scrolling is broken. This makes surveying the content available in the table of contents or on a specific page unnecessarily difficult, particularly when using a phone.

# Steps to reproduce
- Visit the site
- Flick up to scroll down

# Expected
- Scrolling continues after finger leaves screen

# Actual
- Scrolling stops suddenly when finger leaves screen

[2018-03-02 15:40] nitsas commented on #268
I agree with perrin4849 that all code about push notifications seems to belong in the service worker itself.

Unfortunately, subscriptions don't stay the same for ever. When we call `subscribe()`, the browser talks with a push service to get a push subscription. I don't think the push service guarantees that it'll always return the same subscription. So we have to `subscribe()` again every now and

[2018-03-03 02:00] perrin4869 commented on #268
@nitsas that's why you'd subscribe to the 'pushsubscriptionchange` event

[code]

[2018-03-07 22:35] pazguille commented on #268
Hi!

I am trying to subscribe inside a service worker but I got an error:

“ERROR DOMException: Registration failed - missing applicationServerKey, and gcm_sender_id not found in manifest”

When I subscribe to push outside service worker every works fine.

Why it happend?

[2018-03-07 22:40] marco-c commented on #268
@pazguille I guess you haven't set a `applicationServerKey` in your call to `subscribe`?

[2018-03-07 22:49] pazguille commented on #268
Hi @marco-c. In this case I'm using a `manifest.json` with a valid `gcm_sender_id` value.  Is it necessary to set a `applicationServerKey`?

[2018-03-07 22:52] marco-c commented on #268
No, it shouldn't be. I would suggest it since it's the standard now and `gcm_sender_id` is probably deprecated.
It seems like a bug in Chrome, but I wouldn't expect them to fix it since the new way of doing things is VAPID.

[2018-03-07 23:16] pazguille commented on #268
@marco-c you are right! Unfortunately is a bug in Chrome: https://bugs.chromium.org/p/chromium/issues/detail?id=597317&can=1&q=gcm_sender_id&colspec=ID%20Pri%20M%20Stars%20ReleaseBlock%20Component%20Status%20Owner%20Summary%20OS%20Modified

Thank you!

[2018-03-29 13:08] slokhorst commented on #298
These examples won't work with a PHP server. You need to run the Node.js server code we supply (see [README.md#how-to-contribute](https://github.com/mozilla/serviceworker-cookbook/blob/master/README.md#how-to-contribute) for how to run it), or reimplement [the corresponding server.js](https://github.com/mozilla/serviceworker-cookbook/blob/master/push-subscription-management/server.js) yourself in

[2018-03-29 13:10] slokhorst commented on #290
Fixed by #294

[2018-03-29 13:10] slokhorst commented on #289
Fixed by #294

[2018-03-29 13:47] #298 closed

[2018-03-29 13:47] #290 closed

[2018-03-29 13:47] #289 closed

[2018-04-04 18:33] slokhorst commented on #218
Fixed in #294

[2018-04-07 16:05] #218 closed

[2018-04-07 16:07] #271 closed

[2018-04-08 02:55] aliams opened #302 "Change samples to subscribe when serviceWorker.ready resolves"
The code samples should be changed to only call the subscribe() function when the serviceWorker.ready promise resolves.

#170, though similar, discussed how to ensure the page was controlled by the service worker which required the use of the controllerchange event.

For push, we do not need to wait for the page to be controlled, but rather we just need the service worker registration to have an a

[2018-04-08 12:39] slokhorst commented on #302
Sounds good. Can you verify that #303 fixed things in Edge?

[2018-04-08 19:45] aliams commented on #302
That was fast! This looks good to me. It seems that the only issue now is the TTL. WNS (windows notification service) doesn't seems to like the value 0. If I set the value to 1 it seems to all be working.

[2018-04-08 20:24] slokhorst commented on #302
Sounds reasonable to set the default to something other than 0, as that is known to discard the message immediately:
https://blog.mozilla.org/services/2016/02/20/webpushs-new-requirement-ttl-header/

I'm not sure if 1 second is the best default or we should use a higher value. I've set it to 1 in the PR for now: df4c360e3d0be47dee0a72ebcc687b9624e934ec

[2018-04-08 20:33] slokhorst commented on #302
Hm, according to the [spec](https://webpush-wg.github.io/webpush-protocol/):

So it sounds like this is an issue with Edge.

Although I guess it couldn't hurt to set the default value to something higher than 0.

[2018-04-08 22:01] aliams commented on #302
Yeah, agreed. What if we set the default to match what the web-push library uses? It has the default TTL of four weeks (2419200).

[2018-04-12 20:30] #302 closed

[2018-04-12 20:34] slokhorst commented on #302
Using 2419200 sounds reasonable, although it is a bit arbitrary.

We could also completely omit the TTL input box like in some of the other push recipes, and implicitly use the library's default, as I'm not sure how useful it is to have it as an user-editable field.

Or, most simple, just leave it as-is and maybe add a note that WNS/Edge is picky about a value of zero?

@marco-c what do you think?

[2018-04-12 23:35] marco-c commented on #302
Let's open a new issue about the 0 TTL. I agree it's not that useful to have it in all recipes, but I'd like to have it at least in one (where we also say that Edge is picky about 0, so our "readers" will know and not run into problems).
Maybe we could remove it from all and create a new recipe just about TTL.

[2018-04-13 00:31] slokhorst commented on #258
This has been removed from the spec: whatwg/notifications#127

[2018-04-13 00:31] #258 closed

[2018-04-13 01:49] slokhorst commented on #284
@audas is this still an issue? I can't reproduce it.

[2018-04-22 20:09] hamzahamidi opened #305 "Cache, update and refresh strategy"
I keep getting the following error in my [website](https://hamidihamza.com/)
```Uncaught (in promise) TypeError: Request scheme 'chrome-extension' is unsupported```
Any ideas how to solve it ?
My sw code:
[code]

[2018-04-23 22:39] marco-c commented on #305
Which extensions do you have installed?
You could try returning early in the `fetch` event handler `if (!event.request.url.startsWith('http'))`.

[2018-04-23 22:44] hamzahamidi commented on #305
You're right thank you it's just an extension

[2018-04-23 22:44] #305 closed

[2018-05-22 18:20] BernardA commented on #291
@nvtuan305  The solution above did not work for me. I have both Firefox, which I use for my personal stuff and FirefoxDeveloperEdition, used for development, of course.
I checked and I do have 2 profiles.
Service worker will give above error on FDE but will work fine on the 'regular' Firefox.
Should I open another issue?
Pls. advise.

[2018-05-23 01:27] nvtuan305 commented on #291
@BernardA I think that you can try to:
1. Refresh profile on both version:

2. Reinstall both version then create new profile for Firefox Developer Edition. Each channel should use separate profile.

[2018-05-23 17:35] BernardA commented on #291
Thanks @nvtuan305, it did work when I created a new profile and opened the FDE from there. But the issue persisted when opening FDE directly.  It took me a while to find out that about:support should be entered on the address bar, but once I found it and refreshed FDE things went fine.

[2018-05-25 20:38] #299 closed

[2018-06-02 19:10] LuqmanUddin0007 opened #307 "Web Push Notifications"
i am so confused and did not find any solution anywhere in the google. I am implementing web push notifications in my web applications using service worker but whenever i am going to subscribe push service then browser return me an unspecified error. Like "Unable to subscribe to push DOMException: Registration failed - missing applicationServerKey, and manifest empty or missing"
![untitled](https:

[2018-06-03 10:12] LuqmanUddin0007 commented on #307
if ('serviceWorker' in navigator) {
  navigator.serviceWorker.register('sw.js').then(function(reg) {
    console.log('Service Worker Registered!', reg);

    reg.pushManager.getSubscription().then(function(sub) {
     if (sub === null) {
      // Update UI to ask user to register for Push
      console.log('Not subscribed to push service!', sub); * * subscribeUser(); * *
     } else {
      // We

[2018-06-03 10:13] LuqmanUddin0007 commented on #307
function subscribeUser() {
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.ready.then(function(reg) {

        reg.pushManager.subscribe({
          userVisibleOnly: true
        }).then(function(sub) {
          console.log('Endpoint URL: ', sub.endpoint);
         // console.log('ApplicationServerKey : ', sub.applicationServerKey);
        }).catch(function(e) {
          i

[2018-06-03 10:15] LuqmanUddin0007 commented on #307
this is what i code and give me the above mentioned error

[2018-06-03 16:57] victorwealth commented on #291
Yes refresh firefox fixed the issue for me too. Thanks @nvtuan305 and @wanderview.

[2018-06-06 06:28] mohammedalmoashi commented on #228
I  am waiting for your questions or concerns about joining your group

[2018-06-24 13:45] AjayPoshak commented on #264
Response is a stream, and can be consumed only once.  Therefore cloning it makes sense as we would pass the response to browser's fetch event and pass the cloned copy to cache.  We clone it so we have two streams.

[Stream reference](https://streams.spec.whatwg.org/)
[Fetch Clone](https://fetch.spec.whatwg.org/#dom-request-clone)

[2018-07-16 22:52] tian2992 opened #308 "Broken on reload Strategy network or cache."
Tried running the sample at https://serviceworke.rs/strategy-network-or-cache_demo.html , got:

[code]

Version 67.0.3396.87 (64-bits) Linux

[2018-07-17 09:10] Allan-Nava commented on #284
[Service Worker Installation] Installing service worker failed SecurityError: The operation is insecure.

With oensignal i got this error

[2018-08-14 14:07] rayfoss opened #311 "Push Simple demo stopped working"
https://serviceworke.rs/push-simple.html

Snarky comments aside:
![screen shot 2018-08-14 at 9 06 33 am](https://user-images.githubusercontent.com/876076/44096638-60c8a434-9fa1-11e8-82c0-11d4c0e1f6bd.png)

[2018-08-27 13:46] marco-c commented on #311
It seems to be working again now, maybe it was a temporary issue.

[2018-08-27 13:46] #311 closed

[2018-08-27 16:45] mykmelez opened #312 "archive project"
@digitarald Over in https://github.com/mozilla/wp-web-push/issues/337, @marco-c and I discussed archiving this project, since no one is maintaining it, and its current status is misleading (people are still filing issues on it that'll never be addressed).

Do you agree that we should archive this project?

[2018-08-27 21:02] digitarald commented on #312
@mykmelez +1. The last maintainers moved on, so it seems the time has come.

Next steps:

- [ ] Archived status on domain or redirect

[2018-08-31 16:09] mykmelez commented on #312
@digitarald Do you know who controls the domain? The `whois` utility only shows the registrar (Serbian National Internet Domain Registry) as the contact.

[2018-09-12 23:08] digitarald commented on #312
@mykmelez I do. What should I do? I expected we put the archived status on gh-pages.

[2018-09-13 09:34] mum-viadee commented on #291
Refreshing firefox fixed the issue for me, too.

[2018-09-13 16:00] mykmelez commented on #312
Ah, that makes sense (put the archived status on the pages in the gh-pages branch). Although I don't see a gh-pages branch in this repo. Perhaps the pages get generated from the master branch? I'm unsure how the site is structured, but if there's an HTML template from which the pages get generated, then I'd put a message like the following into it:

Then, in the README for the repository, note tha

[2018-09-24 17:45] mykmelez commented on #312
After thinking a bit more, it occurs to me that the MDN team might care about this site, since MDN links to it from a variety of pages:

https://developer.mozilla.org/en-US/docs/Web/Apps/Progressive
https://developer.mozilla.org/en-US/docs/Web/API/ServiceWorker
https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Cross_browser_testing/JavaScript
https://developer.mozilla.org/en-US/docs

[2018-09-25 16:00] mykmelez commented on #312
@chrisdavidmills There's no hard and fast deadline. I archive unmaintained projects as they come to my attention, and this one happened to do so last month. But there's no need to archive this one by a particular deadline, unless perhaps @digitarald wants to transfer the domain name and hosting to someone else before the registration expires on November 16.

Nevertheless, we do see periodic issues

[2018-09-26 08:14] chrisdavidmills commented on #312
@mykmelez cool. Well, I'd be more than happy to have you transfer the domain to mdn/serviceworker-examples. Then we can get it fixed up as a proper MDN repo, and think about how we'd document these examples in the actual site content.

[2018-10-08 18:15] mykmelez commented on #312
@digitarald Are you ok with transferring this repo from mozilla/serviceworker-cookbook to mdn/serviceworker-examples and giving @chrisdavidmills admin access to it, so he and other MDN folks can take over development and maintenance of the repo and use it in MDN as they see fit?

[2018-10-25 05:04] digitarald commented on #312
@mykmelez yes, I'll coordinate with @chrisdavidmills !

[2018-10-25 07:35] chrisdavidmills commented on #312
So, my plan here is to move the repo over to underneath the mdn GitHub org, and then present it as a set of cookbook recipes, in the say way that we do for https://developer.mozilla.org/en-US/docs/Web/CSS/Layout_cookbook.

This is being the case, it'd be more of a set of static docs pages pointing to live examples on gh-pages. I'm guessing there's code we could probably remove that deals with gene

[2018-10-25 16:49] digitarald commented on #312
Some examples have dynamic server aspects, like push and sync; but also other examples that generate "fresh" images like [this one](https://github.com/mozilla/serviceworker-cookbook/blob/master/strategy-cache-update-and-refresh/server.js).

[2018-11-18 11:25] FbN opened #314 "serviceworke.rs website offline"
serviceworke.rs can’t be reached

[2018-11-18 20:38] malcolmocean commented on #312
Is this why the site is down? I think it should display something a bit more obvious...

https://github.com/mozilla/serviceworker-cookbook/issues/314

[2018-11-19 17:04] mykmelez commented on #312
No, I don't think anything has been done here yet that would cause the site to go down. However, I previously noted that the domain name registration expires on November 16, and I don't find it anymore:

[code]

So my suspicion is that the registration has expired.

[2018-11-19 17:05] mykmelez commented on #314
@digitarald I suspect this is because the domain name registration has expired:

No, I don't think anything has been done here yet that would cause the site to go down. However, I previously noted that the domain name registration expires on November 16, and I don't find it anymore:

[code]

[2018-11-19 18:32] digitarald commented on #314
I renewed serviceworke.rs, will take a bit to go live again. We have another year to handle migration in #312.

[2018-11-19 19:36] #314 closed

[2019-02-17 09:13] vivek-talentica commented on #307
I was facing same issue, solved it by adding manifest.json file to top level in directory (parallel to index.html) with following content

`{
  "name": "Push Notifications app",
  "gcm_sender_id": "370072803732"
}`

Also added <link rel="manifest" href="/manifest.json" /> to index.html (Note: Check if you already have manifest link tag in index.html)

gcm_sender_id can be generated from Firebase (

[2019-02-17 18:48] moz-hwine opened #316 "Wiki changes"
FYI: The following changes were made to this repository's wiki:

- defacing spam has been removed

- the wiki has been disabled, as it was not used

These were made as the result of a recent automated defacement of publically writeable wikis.

[2019-02-17 19:06] marco-c commented on #316
Thanks!

[2019-02-17 19:06] #316 closed

[2019-03-05 17:04] h43z commented on #268
Subscribing within a service worker will not request the permission to show notification (like when done from regular javascript file) and instantly throws an exception.

`Registration failed - permission denied`

[2019-03-29 17:02] Mozilla-GitHub-Standards opened #317 "CODE_OF_CONDUCT.md file missing"
As of January 1 2019, Mozilla requires that all GitHub projects include this [CODE_OF_CONDUCT.md](https://github.com/mozilla/repo-templates/blob/master/templates/CODE_OF_CONDUCT.md) file in the project root. The file has two parts:

1. Required Text - All text under the headings *Community Participation Guidelines and How to Report*, are required, and should not be altered.
2. Optional Text - The

[2019-03-30 15:06] #317 closed

[2019-05-19 08:48] solrayc opened #322 "Cache, update and refresh: how to implement it on a website?"
This is a help and guidance request.

I am looking to implement Cache, update and refresh functionality on an irregularly updated personal static site.

The goal is to:

1. Cache most of the website pages and assets on first visit and then serve site from cache for speedy UX. Cache pages, images, js, css, etc.
2. Show most up to date content: display a message to the user letting them know that th

[2019-06-19 18:44] JobLeonard opened #323 "The low-contrast, no-border tabs hampers discoverability"
I clicked a link to a recipe and was searching for a about five minutes for where the actual examples were before I noticed the faint text in the top-right of the page:

![image](https://user-images.githubusercontent.com/259840/59790555-75e05600-92d0-11e9-9222-8c25c124c075.png)

The natural way of reading that page is from the title, then down at the description.

So the meat of these examples is

[2019-07-30 11:31] WajdiBf opened #324 "Can i cache my components with thier names/style/js using reactjs ?"

[2019-09-15 13:02] #324 closed

[2019-10-10 08:35] TomPradat opened #327 "Service worker expiration"
This is not exactly an issue, but i've never been able to get an answer on stackoverflow.

I was wondering if the service worker expires in a browser. I couldn't find anything about it.

My problem is the following (hypothetical) :

I had a website with a service-worker that caches the static files and thus allow for offline usage. I decided to update my website and remove the service worker. The

[2019-10-11 13:46] slokhorst commented on #327
I'm not sure if the service worker will ever expire, but it will be updated by the browser at least every 24 hours. See [this StackOverflow question](https://stackoverflow.com/q/38843970/1427212) for more info.

If you want to remove your service worker, you should replace the file on the server with an empty file, that way the browser will replace the service worker with an empty one and the cach

[2019-10-12 15:37] TomPradat commented on #327
Yeah that's what I though. IMO this is a big problem :

What if you buy a domain name (that previously had a website with a service worker) ? That means the people that went to the old website would never see your new website and you'll never know about it...

And the users would have a broken website until they clear the service worker (which is more complicated than just clearing website cache)

[2019-10-12 16:47] slokhorst commented on #327
If you know the location of the previous service worker, you could place an empty file there to overwrite it. But yeah, I see your concern..

I think the best place for you to address this is the [w3c/ServiceWorker](https://github.com/w3c/ServiceWorker) repository. That is where the authors of the specification hang out. They would know for sure if there is some kind of expiration mechanism, and o

[2019-10-12 16:47] #327 closed

[2019-10-12 17:17] TomPradat commented on #327
I'll try to open a new issue, I already did here last year => https://github.com/w3c/ServiceWorker/issues/1366. Thanks for your time 👍

[2019-11-19 04:30] izenski opened #328 "serviceworke.rs site is offline"
ERR_NAME_NOT_RESOLVED message in the browser when I navigate to https://serviceworke.rs/

[2019-11-19 19:18] riverside commented on #328
Domain expired on 2019-11-16 19:06:36

[2019-11-20 15:28] vitorhsb commented on #328
Please fix this.

[2019-11-20 17:11] marco-c commented on #328
CC @digitarald

[2019-11-20 17:46] digitarald commented on #328
Looks like I missed the reminder on this due to travel. Just renewed the domain (will take a bit), good to see that the service is still being used – pardon the interruption!

[2019-12-06 19:44] #328 closed

[2020-01-24 18:24] vitaly-zdanevich opened #329 "Dark theme"
Please do not ignore useragent choice https://developer.mozilla.org/en-US/docs/Web/CSS/@media/prefers-color-scheme

Side note: strange to see this content in a standalone site rather than inside existing MDN.

[2020-05-23 08:10] AryaTheAbhishek commented on #307
hey...Does your problem solved..?
I also having a same issue and my code is same as you...
I'm still not getting how to generate a private and public VAPID key pair on the server
If your problem solved can you share your code with me? It is very helpful for me
Thanks

[2020-05-23 12:35] slokhorst commented on #307
@AryaTheAbhishek check the [Push Simple Recipe](https://serviceworke.rs/push-simple_server_doc.html). Click `server.js` in the top-right to see the server code. The keys are generated on the server with `webPush.generateVAPIDKeys()`.

[2020-10-14 17:08] Ryuno-Ki opened #331 "Instant Multi-Page App"
Dear ServiceWorke.rs team,

today, the eleventy community brought my attention to:
https://itnext.io/your-single-page-app-is-now-a-polyfill-7881fb01694e

There is a demo code on GitHub at https://github.com/DannyMoerkerke/instant-multi-page-app

I couldn't find such a demo on the Serviceworker Cookbook, so you might want to add it.

@DannyMoerkerke Hope it's okay to suggest your article here.

[2020-10-14 18:24] DannyMoerkerke commented on #331
Sure, thanks @Ryuno-Ki!

[2020-11-17 10:03] andyautida14 commented on #314
The domain name registration expired again

[2020-11-19 18:48] TylerRick commented on #312
Looks like serviceworke.rs domain has expired again. Is there any update on migrating this to MDN?

I would suggest/ask:
- rename this issue to "Migrate content to MDN"
- post a link to the content's new home :-)

[2020-11-19 22:19] digitarald commented on #312
@chrisdavidmills any more thoughts on this? I can pay another round of serviceworke.rs to renew it.

[2020-11-19 22:38] marco-c commented on #314
@andyautida14 follow-up discussion in #312.

[2020-11-20 08:33] chrisdavidmills commented on #312
@digitarald hello mate, good to hear from you! So if you could be so kind, can you pay for another round, and then this year we'll make bloomin' sure that we migrate the thing to MDN. Seems like a good project to work on, but I just need to find the time, or find someone willing to put some time in to it.

[2020-11-20 19:55] digitarald commented on #312
1y `.rs` domain on the house:
![image](https://user-images.githubusercontent.com/8599/99843976-4538c780-2b27-11eb-9c7d-0992eae015af.png)

[2020-11-20 21:37] marco-c commented on #312
@digitarald thanks!

[2020-12-28 12:50] elyesa748 opened #332 "Lets"
Go

[2020-12-29 13:13] #332 closed

[2021-05-26 15:43] br4nnigan commented on #291
I also experience the bug. I installed DevEdition and used sync to get my "work profile" which might have been used on another FF (channel) at one point.

So what now, I can basically scrap the profile because it is corrupted? There's stuff in it (which is the point of profiles). How can I mitigate my stuff to a not corrupted profile?

[2021-11-21 21:08] h1z1 opened #333 "Expired / unavailable project domain"
The domain https://serviceworke.rs/   is either invalid and no one noticed, or expired / hijacked.   Either way, it doesn't resolve.

Not sure where to report this tbh.  Technically it's a security issue as well assuming mozilla doesn't own the domain?

Was also reported https://github.com/mdn/content/issues/10666

[2021-12-03 11:53] Rumyra commented on #312
Following up on this - are we still able to move the repo under mdn? The domain looks like it's expired again and I think it'd be good to take this opportunity to move it over and we (mdn team) can go from there - thanks!

[2021-12-29 17:02] dipunj commented on #333
in the meanwhile can we have this site hosted at serviceworkers.github.io or serviceworkers.mozilla.org?

[2022-01-03 11:49] marco-c commented on #333
@dipunj yes we should, but unfortunately there is no one currently maintaining this project. There is a PR to move the domain, but the build is currently failing so even if we merge it the fix won't get deployed.

[2022-01-06 13:55] h1z1 commented on #333
Appears this has been fixed but absolutely zero references to any issues nor even commit message.

https://github.com/mdn/content/commit/e99085ad8239149e3df3758be296d0b5b4a4ba47

To be _very_ clear, I have nothing to do with this domain nor do I know anything about the registration.

I can't help but wonder (and laugh) what the long term stability of an organization which brings in millions but is

[2022-01-11 22:50] marco-c commented on #333
@h1z1 this is an open source project with no maintainer, feel free to contribute a fix to the build and I will happily deploy it. The domain is lost, it has been registered by someone else. Given that the project is unmaintained and so likely doesn't use the latest and greatest SW features, it's nothing to worry about.

[2022-01-13 04:11] h1z1 commented on #333
Mozilla is not just an opensource project.  If you actually followed the link in my reply you'd have seen it was corrected already.

[2022-01-13 11:22] marco-c commented on #333
@h1z1 I'm talking about *this* project. The MDN link was corrected to point to this repository, but this repository is still deployed in a way that forcibly redirects to serviceworke.rs, which is no longer owned by us.
#334 would fix that, but the build is failing and there is no one maintaining this project to fix that.